/*General styles*/

body {
  background: #EFEEE7;
  font-family: "Roboto", Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #000;
}

nav.nav {
  background: #f9f9f9;
  box-shadow: 1px 3px 27px 0px #ddd;
}
nav.nav .navbar-nav>li>a,
nav.nav .navbar-brand {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  font-weight: bold;
}
nav.nav.navbar-default {
  border: none;
}
.btn-website {
  background: #D9CA95;
}

.info {
  color: #AD9A58;
  font-size: 13px;
  padding-bottom: 23px;
}

.rating {
  padding-right: 20px;
}

.about {
  line-height: 24px;
}


.feed-amount {
  font-size: 17px;
  color: #787875;
  vertical-align: middle;
  padding: 5px 10px !important;
}

a.feed-nav-btn  {
  color: #484746;
  padding: 5px 10px !important;
  margin: 0 7px;
}

a.feed-nav-btn.active {
  color: #000;
  background: #F0ECDD;
  border: 1px solid #C8C8C8;

}
.btn-rounded {
  border-radius: 50px !important;
}
.well-lg.post {
  background: #fff;
  border: 1px solid #F0F0F0;
  padding: 12px 32px;
  border-radius: 6px;
}

.post .post-header {
  font-size: 34px;
  padding-bottom: 12px;
  color: #ad9a58;
}
.post-description {
  color: #808080;
  font-size: 13px;
  padding-bottom: 10px !important;
}

.post-text {
  font-size: 16px;
  color: #000;
  padding-bottom: 10px !important;
}

a.post-more,
a.post-author,
a.post-book {
  color: #AD9A58;
  text-decoration: none;
}

.post-author,
.post-book {
  font-size: 15px;
}

.post-content {
  padding-bottom: 20px;
  border-bottom: 1px solid #D8D8D8;
}

.post-links {
  padding-top: 25px;
}

.post .post-time {
  color: #B2B2B2;
  font-size: 14px;
  margin-bottom: 0;
}
.article-time {
  font-size: 16px;
}



.article-page,
.rating-page {
  background: #F9F9F9;
  padding-bottom: 100px;
}

.article-page nav {
  margin-bottom: 50px !important;
}

.article  {
  margin-bottom: 30px;
}

.article-links {
  margin-bottom: 50px;
}
.article-links-btn {
  padding: 8px 25px;
  border-radius: 6px;
}

.article-header-btns {
  display: flex;
}

.article-header-btns .block {
  padding: 30px 20px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.article-paragraphs {
  margin-top: 50px;
}
.article-paragraph {
  font-size: 16px;
  margin-bottom: 50px;
}
.previous-article-header {
  margin-bottom: 50px;
}
.article-img {
  background: #E6E2D2;
  height: 320px;
  margin-bottom: 50px;
}

.article blockquote {
  padding: 0px 25px;
  border-left: 9px solid #D4CBAB;
}

.article-links-big {
  padding-top: 45px;
  border-top: 1px solid #EDE7D2;
}

.btn-fb,
.btn-vk {
  background: #3C579E;
  border: none;
}
.btn-vk {
  background: #506E96;
}
.previous-article .article-links-btn {
  background: #F7F5EE;
  color: #000;
  border: none;
}


.rating-page .subheader-title {
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-top: 0;
}

.rating-page .subheader-text {
  font-size: 16px;
  margin-bottom: 0;
}

.rating-page a.btn-cta {
  color: #fff;
  background: #A59149;
  padding: 10px 30px;
  border: none;
  max-width: 230px;
}
.rating-page a.btn-cta:hover,
.rating-page a.btn-cta:active,
.rating-page a.btn-cta:focus {
  color: #fff;
  background: #8e7a32;
}

.top-profile {
  margin-bottom: 60px;
}
.top-stats {
  color: #A59149;
}

.rating-page .list-titles {
  display: none;
}
.rating-page .btn-blog {
  background: #47A8E6;
  color: #fff;
}
.participant-name.top-name {
  font-weight: 600;
  font-family: "PT Serif", serif;
}


@media (max-width: 768px) {
  nav.nav .navbar-brand {
    font-size: 15px;
  }
  .article-header,
  h1 {
    font-size: 25px;
    padding: 10px 0 20px;
  }
  .previous-article-header {
    font-size: 21px;
    padding: 40px 0 20px;
    margin-bottom: 0;
  }
  .btn-fb,
  .btn-vk {
    padding: 5px 8px;
  }
  .article-links-btns {
    margin-top: 20px;
  }
  .article-links-info,
  .article-links-btns {
    display: flex;
  }
  .article-links-info-author {
    padding-right: 0;
  }
  .article-links-info-book {
    margin-top: 30px;
  }
  .article-header-btns {
    margin-top: 30px;
  }
  .article blockquote {
    font-size: 16px;
    border-left: 3px solid #D4CBAB;
  }
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .post-text {
    font-size: 14px;
  }
  .post-book {
    margin-top: 30px;
  }
  .profile {
    margin-bottom: 40px;
  }
  .rating-page .subheader {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .participant {
    text-align: center;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .participant .stats {
    font-size: 16px;
  }
  .participant .participant-description {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .participant-photo {
    margin-bottom: 20px;
  }
  .participant-name {
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .rating-page .btn-blog {
    margin-top: 20px;
  }
  .stats>div {
    text-align: center;
    padding: 0;
  }
  .btn-blog {
    display: none;
  }
  .winner-icon {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 100;
  }
}

@media (min-width: 450px) {
  .article-header-btns .block {
    padding: 30px 100px;
  }
}

@media (min-width: 768px) {
  nav.nav .navbar-brand {
    font-size: 15px;
  }
  .btn-website {
    padding: 10px 10px !important;
    margin: 7px auto;
  }
  .feed-nav {
    margin-bottom: 25px;
  }
  .btn-fb,
  .btn-vk {
    padding: 5px 8px;
  }
  .rating-page .list-titles {
    display: block;
    color: #9B9B9B;
    margin-bottom: 20px;
  }
  .article-header-btns .block {
    padding: 30px 200px;
  }
  .article-header-btns .block {
    margin-top: 50px;
  }
  .rating-page .subheader {
    margin-top: 40px;
    margin-bottom: 70px;
  }
  .rating-page .participant {
    margin-bottom: 55px;
  }
  .rating-page .participant-name {
    color: #A59149;
    font-size: 16px;
  }
  .rating-page .middle {
    margin-top: 40px;
    display: inline-block;
  }
  .rating-page .participant-photo {
    margin-top: 9px;
  }
  .rating-page .btn-blog {
    margin-top: 32px;
  }
  .rating-page .top {
    margin-bottom: 70px;
  }
  .winner {
    width: 445px;
    margin-bottom: 80px;
  }
  .winner-photo {
    position: relative;
    display: block;
    height: 192px;
    margin-bottom: 30px;
  }
  .winner-photo .top3-photo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -91px;
    margin-top: 5px;
    width: 182px;
    height: 182px;
  }
  .winner-icon {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -116px;
    z-index: 100;
  }
  .participant-name.top-name.winner-name {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  .winner-about {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .winner-stats {
    font-size: 18px;
  }
  .stats-text {
    display: none;
  }
  .btn-blog {
    display: block;
  }
  .participant-name.top-name {
    font-size: 18px;
    margin-bottom: 20px;
    color: #000;
  }
  .top-about {
    margin-bottom: 20px;
  }
  .top-stats {
    padding: 0 15px;
  }
  .stats>div {
    text-align: center;
  }
  .top-text {
    padding-top: 10px;
  }
}

@media (min-width: 992px) {
  nav.nav .navbar-brand {
    font-size: 18px;
  }
  nav {
    margin-bottom: 60px !important;
  }
  h1 {
    font-size: 38px;
    padding-bottom: 23px;
  }
  h2 {
    font-size: 34px;
    padding-bottom: 18px;
  }
  .navbar-center {
    position: absolute;
    left: 50% ;
    margin-left: -200px ;
  }
  .btn-website {
    padding: 8px 20px !important;
    margin: 7px auto;
  }
  .feed-nav {
    margin-bottom: 50px;
  }
  .btn-fb,
  .btn-vk {
    padding: 8px 10px;
  }
  .btn-vk {
    margin-left: 30px;
  }
  .article  {
    margin-bottom: 100px;
  }
  .article-header {
    font-size: 40px;
    padding: 30px 0 35px;
  }
  .article blockquote {
    margin-bottom: 55px;
  }
  .article-header-btns .block {
    padding: 30px 260px;
  }
  .winner {
    margin-bottom: 0;
  }
}
