//General styles
body {
  background: $body;
  font-family: "Roboto", Roboto, Arial, sans-serif;
}
.content {
  padding-top: 70px;
  padding-bottom: 90px;
}


.btn,
.navbar-default .navbar-nav > li > a.btn {
  color: #fff;
  border: none;
  border-radius: $radius;
  padding: $padding;
  font-weight: normal;

  &:hover,
  &:focus {
    color: #fff;
    border: none;
  }

  &>.glyphicon {
    padding-right: 10px;
  }
}

.btn-link {
  color: $primary;

  &:hover,
  &:focus {
    color: $primary;
  }
}

.label {
  border-radius: $radius;
  padding: $padding;
  font-size: 12px;
  &:hover {
    cursor: default;
    pointer-events: none;
  }
}
.btn-clear,
.btn-clear:hover,
.btn-clear:focus {
  color: $primary;
}
.btn-primary,
.navbar-default .navbar-nav > li > a.btn-primary,
.nav > li > a.btn-primary,
.label-primary {
  background: $primary;
  &:hover, &:focus {
    background: $primary-hover;
  }
}
.btn-success,
.navbar-default .navbar-nav > li > a.btn-success,
.nav > li > a.btn-success,
.label-success {
  background: $success;
  &:hover, &:focus {
    background: $success-hover;
  }
}
.btn-warning,
.navbar-default .navbar-nav > li > a.btn-warning,
.nav > li > a.btn-warning,
.label-warning {
  background: $warning;
  &:hover, &:focus {
    background: $warning-hover;
  }
}
.btn-danger,
.navbar-default .navbar-nav > li > a.btn-danger,
.nav > li > a.btn-danger,
.label-danger {
  background: $danger;
  &:hover, &:focus {
    background: $danger-hover;
  }
}
.btn-default,
.navbar-default .navbar-nav > li > a.btn-default,
.nav > li > a.btn-default,
.label-default {
  background: $default;
  &:hover, &:focus {
    background: $default-hover;
  }
}
.btn-fb {
  background: $fb;
  &:hover, &:focus {
    background: $fb-hover;
  }
}
.btn-group>.btn {
  border: 1px solid transparent;
  &-success {
    border-color: $success;
  }
  &-default {
    background: #fff;
    color: $primary;
    border-color: $primary;
  }

}
.label.label-process {
  background: $process;
  &:hover, &:focus {
    background: $process-hover;
  }
}

.alert {
  font-weight: bold;
  &__text {
    float: left;
    margin-top: 6px;
  }
  &__btn {
    display: block;
    float: right;
  }
}

.well {
  padding: 30px;
  background: $white;
  border: none;
  border-radius: $radius;
  box-shadow: 0px 1px 5px 0px rgba($primary, 0.1);
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #ececec;
}


input[type="checkbox"] + label::before {
  background: $white;
}

@media (min-width: 992px) {
  .content.dashboard,
  .content.book-page {
    >.container {
      width: 800px;
    }
  }
}
@media (max-width: 768px) {
  .content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .alert {
    font-weight: bold;
    &__text {
      margin-top: 0;
      width: 100%;
    }
    &__btn {
      margin-top: 10px;
      float: left;
    }
  }
  .well {
    padding: 10px;
  }
  .label,
  .book .book-nav-link .label {
    padding: 2px 4px;
    font-size: 10px;
  }
}
