// Colors
$white: #fff;
$grey: #9d9d9d;
$body: #fbfbfb;
$body-admin: #f6f8f9;
$primary: #27384A;
$success: #87CE50;
$warning: #F6CB23;
$danger: #FB612C;
$process: #2DB7F5;
$default: #BCC0C1;
$fb: #3C579E;
$vk: #506E96;

// Hover colors
$primary-hover: rgba($primary, .9);
$success-hover: rgba($success, .9);
$warning-hover: rgba($warning, .9);
$danger-hover: rgba($danger, .9);
$process-hover: rgba($process, .9);
$default-hover: rgba($default, .9);
$fb-hover: rgba($fb, .9);
$vk-hover: rgba($vk, .9);

//
$radius: 4px;
$padding: 7px 12px;
