html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

body {
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  background: $white;


            

  @media (max-width: $tablet) {
    font-size: 14px;
  }

  &.info-page-body {
    background: #F6F8F9;
  }
}

h1,
.h1 {
  margin: 0;
  padding: 50px 0 30px;
  font-size: 36px;
  font-weight: bold;

  @media (max-width: $tablet) {
    font-size: 27px;
    padding: 20px 0 15px;
  }
}

h2,
.h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 21px;
  font-weight: bold;
}

h3,
.h3 {
  color: rgba(0,0,0,.7);
  font-size: 18px;
  font-weight: normal;
}

a {
  transition: 300ms linear;
}

p {
  margin: 0;
  padding: 0 0 20px;
  line-height: 1.4;

  @media (max-width: $tablet) {
    padding-bottom: 10px;
  }
}

input[type="text"],
textarea {
  
  &:focus {
    outline: none;
  }
}

.container-non-responsive {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
  min-width: 1170px;
}