.book {
  padding-top: 45px;
  padding-left: 40px;

  @media (max-width: $tablet) {
    padding-left: 0;
    padding-top: 20px;
  }

  @media (max-width: $desktop) {
    padding-left: 0;
  }

  .media {
    margin-bottom: 50px;
    
    @media (max-width: $tablet) {
      margin-bottom: 15px;
    }

    .h2 {
      padding-bottom: 5px;

      @media (max-width: $tablet) {
        display: none;
      }
    }

    .media-left {
      padding-right: 20px;

      img {
        max-width: 100px;
      }

      @media (max-width: $tablet) {
        display: none;
      }
    }

    .book-about {
      padding-bottom: 10px;

      @media (max-width: $tablet) {
        display: none;
      }
    }

    .book-author {
      padding-right: 20px;
    }
  }
  

  .book-nav {
    margin-bottom: 35px;
  }

  .book-nav-link {
    margin-bottom: 15px;
    display: block;
    padding: 14px 15px;
    background: #F6F4EB;
    border: 1px solid #DFDFDF;
    border-radius: 4px;

    &:hover {
      background: darken(#F6F4EB, 15%);
    }

    .pull-left {
      color: $black;
      font-size: 14px;
      font-weight: bold;

      @media (max-width: $tablet) {
        width: 60%;
        font-size: 12px;
      }
    }

    .pull-right {
      @media (max-width: $tablet) {
        width: 40%;
        text-align: right;
      }
    }

    .book-nav-points {
      padding-left: 15px;
      color: #34485D;
      font-size: 13px;
      font-weight: normal;

      @media (max-width: $tablet) {
        display: block;
        padding-left: 0;
        padding-top: 3px;
        font-size: 10px;
      }
    }

    .label {
      padding: .55em .9em;
      font-size: 13px;

      @media (max-width: $tablet) {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
      }
    }


  }

  .book-progress {
    padding-bottom: 35px;

    .progress {
      max-width: 100%;
      margin-top: 25px;
      margin-bottom: 0;
      background-color: $dark;
      overflow: visible;
      position: relative;
    }

    .progress-bar {
      position: relative;
    }

    .progress-bar-success {
      z-index: 9;

      &::before {
        width: 14px;
        height: 20px;
        background:transparent url('../img/svg/run-man.svg') 0 0 no-repeat;
        background-size: 14px 20px;
        position: absolute;
        top: -23px;
        right: -4px;
        content: '';
      }
    }

    .progress-bar-info {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 8;
      
      &::before {
        width: 16px;
        height: 18px;
        background:transparent url('../img/svg/flag.svg') 0 0 no-repeat;
        background-size: 16px 18px;
        position: absolute;
        top: -22px;
        right: -10px;
        content: '';
      }
    }

  }


  .status-item {
    color: $dark-medium;

    .status-num {
      font-size: 37px;
      line-height: 1;
      font-weight: bold;
    }

    .status-text {
      font-size: 14px;

    }
  }

  .book-chapters {
    .input-group {
      margin-bottom: 25px;
    }
  }
}