.book-page {

  .media-links-list {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  .sidebar-list {
    width: 100%;
    margin-top: 20px;
    list-style: none;
    padding: 0;
    font-size: 0;

    & > li {
      padding: 10px;
      background: $white;
      border: 1px solid #CCCCCC;
      border-radius: 3px;
      
      &.open {
        border-radius: 3px 3px 0 0;
      }
    }
    
    a {
      color: $black;
      font-size: 14px;
    }

    .caret {
      display: inline-block;
      margin-top: 9px;
    }


    img {
      width: 15px;
      max-width: 15px;
      height: auto;
      margin-right: 10px;
    }

    .dropdown-menu {
      width: 100%;
      margin: 0;
      padding: 10px 0;
      border-radius: 0 0 3px 3px;
      border: 1px solid #CCCCCC;
      box-shadow: none;

      & > li > a {
        white-space: normal;

        &:hover,
        &:focus,
        &:active {
          color: $dark;
        }
      }
    }

    @media (max-width: $tablet) {
      display: block;
    }
  }

}