.breadcrumb {
  margin: 0;
  padding: 0;

  & > li {

    & + li::before {
      padding-left: 4px;
      padding-right: 7px;
      color: #27384A;
      content: '→';
    }

    &.active {
      color: #27384A;
    }
    

    & > a {
      color: #27384A;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}