.check-work {
  padding-bottom: 50px;

  .alert {
    margin-bottom: 30px;
  }

  .admin-head {
    margin-bottom: 30px;
  }

  .work {
    padding-right: 30px;
  }
  
  .work-head {
    margin-bottom: 15px;

    .pull-left {
      width: 70%;

      .h2 {
        margin-top: 0;
        padding-top: 0;
      }
    }

    .pull-right {
      width: 25%;
      text-align: right;

      .label {
        margin-top: 6px;
        display: inline-block;
        padding: .7em 1.45em;
        border-radius: 25px;
        font-size: 14px;
      }
    }
  }

  .work-body {
    background: $white;
    padding: 20px;
    padding-bottom: 0;
    font-size: 15px;
    line-height: 1.2;
  }

  .work-check-task {
    margin-bottom: 10px;
    padding-top: 11px;

    .h2 {
      display: inline-block;
      vertical-align: baseline;
      padding-bottom: 25px;
    }

    p {
      padding-left: 20px;
      display: inline-block;
      vertical-align: baseline;
      color: rgba(0,0,0,.5);

      span {
        color: #000;
      }
    }
  }

  .work-check-checkboxes {
    margin-bottom: 35px;

    .input-group {
      margin-bottom: 10px;
    }

    label {
      color: $black;
      font-size: 14px;
      line-height: 1.4;

      &::before {
        top: 6px;
      }
    }
  }

  .work-check-row {
    margin-bottom: 25px;

    .work-check-title {
      margin: 0;
      padding: 0;
      padding-bottom: 20px;
      color: $black;
      font-size: 18px;
      font-weight: bold;
    }

    .btn-group-justified {
      border: 1px solid #CCCCCC;
      border-radius: 3px;
      background: $white;

      & > .btn-group {
        box-sizing: border-box;
        border-right: 1px solid #CCCCCC;
        width: auto;

        &:first-of-type {
          width: 28%;
        }

        &:last-of-type {
          border-right: none;
        }

        input[type='radio'] {
          display: none;

          & + label {
            width: 100%;
            display: block;
            margin: 0;
            padding: 8px;
            text-align: center;
            color: rgba(0,0,0,.56);
            cursor: pointer;
            
            &::before {
              display: none;
            }
          }

          &:checked + label {
            background: $primary-blue;
            color: $white;
          }
        }
      }
    }

    textarea {
      margin-top: 5px;
      width: 100%;
      box-sizing: border-box;
      padding: 8px;
      background:transparent;
      border-color: #AEC0C8;
      border-radius: 0;
      resize: vertical;
    }
  }

  .work-check-btns {

    &.row {
      margin: 0 -10px;
    }

    .col-xs-5,
    .col-xs-7 {
      padding: 0 10px;
    }
    
    .btn {
      width: 100%;
    }

    .btn-blue {
      font-weight: bold;

      .pull-left {
        font-size: 15px;
      }

      .pull-right {
        font-size: 14px;
        color: rgba(255,255,255,.8);
      }
    }
  }
}