.dashbord {
  padding-left: 50px;
  margin-bottom: 50px;

  @media (max-width: $desktop) {
    padding-left: 0;
  }

  h2 {
    margin: 0;
    padding: 50px 0 30px;
    font-size: 36px;
    font-weight: normal;

    @media (max-width: $tablet) {
      font-size: 27px;
      padding: 20px 0 15px;
    }
  }

  p {
    color: #333;
    font-size: 18px;
  }
}