.login-form {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: -190px auto -190px;
  max-width: 345px;
  max-height: 380px;
  display: inline-block;
  padding: 35px 30px;
  box-sizing: border-box;
  background: $white;
  border-radius: 5px;
  text-align: center;
  z-index: 99;

  .login-form-head {
    margin-bottom: 40px;
    padding-bottom: 30px;
    color: rgba(46,45,45,.87);
    border-bottom: 1px solid #979797;
    position: relative;

    &::after {
      width: 40px;
      height: 20px;
      background: $white url('../img/svg/bookmark.svg') center center no-repeat;
      background-size: 16px 21px;
      position: absolute;
      left: 50%;
      bottom: -10px;
      content: '';
      margin: 0 -20px;
    }
  }

  .login-form-title {
    margin: 0;
    padding: 0 0 10px;
    font-size: 26px;
    font-weight: bold;
  }

  .login-form-subtitle {
    text-align: center;
    font-size: 15px;

  }

  .login-form-btns {
    margin-bottom: 15px;

    .btn {
      width: 100%;
      margin: 10px 0;
    }
  }

  .login-form-link {

    font-size: 14px;
    color: rgba(46,45,45,.8)
  }

}