.media {
  color: $black;

  img {
    display: block;
    max-width: 55px;
    height: auto;
  }

  p {
    padding-top: 5px;
    font-size: 14px;
    line-height: 1.15;
    padding-bottom: 10px;

    @media (max-width: $tablet) {
      padding-top: 0;
    }
  }

  .progress {
    margin-bottom: 2px;
  }

  small {
    color: #34485D;
    font-size: 12px;
    opacity: .5;
  }
}