.report {
  padding-right: 45px;

  @media (max-width: $tablet) {
    padding-right: 0;
  }

  .h2 {
    padding-bottom: 25px;
  }

  .report-item {
    margin-bottom: 35px;
  }

  // аккордеон
  .panel-group {

    .panel-default {
      border-color: transparent;
      border-radius: 0 0 4px 4px;
      box-shadow: none;
      overflow: hidden;
    }
    
    // шапка
    .panel-heading {
      background: $orange;
      color: $white;
      padding: 13px;
      line-height: 16px;
      border-radius: 4px 4px 0 0;
    }

    .panel-title-num {
      padding-right: 25px;
      font-weight: 300;
      font-size: 13px;
      position: relative;

      &::after {
        width: 8px;
        height: 8px;
        border-left: 2px solid $white;
        border-bottom: 2px solid $white;
        transform: rotate(-45deg);
        position: absolute;
        top: 2px;
        right: 0;
        content: '';
      }
    }

    .panel-body {
      background: rgba(233,233,233,.4);
      padding: 15px;

      p {
        padding-bottom: 10px;
        line-height: 1.5;

        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
  }
  
  // редактор
  .edit-form {

    .input-groug {
      padding-top: 20px;

      .btn {
        @media (max-width: $tablet) {
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      .btn-primary {
        margin-right: 10px;
      }
    }
  }

  &.report-sent textarea{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background: $white;
    border: 1px solid rgba(163,163,163,.4);
    border-radius: 0;
    resize: vertical;
    outline: none;
  }

  input[type="text"] {
    margin-top: 10px;
    border-color: rgba(198,198,198, .8);
    border-radius: 4px;
    box-shadow: none;
    max-width: 100%;
  }

  .repost-link  {

    input[type="text"] {
      max-width: 70%;

      @media (max-width: $tablet) {
        max-width: 100%;
      }
    }
  }

  &.report-video {

    .form-group {
      margin-bottom: 20px;
    }
  }

  .report-video-link {
    margin-top: 10px;

    label {
      color: #2E2D2D;
      font-size: 18px;
      font-weight: bold;
    }
  }

}