.user-rating {
  margin: 0 0 70px;

  @media (max-width: $tablet) {
    margin-bottom: 20px;
  }

  .user-rating-table {

    @media (max-width: $tablet) {
      display: none;
    }

    tr {
      border-bottom: 1px solid #DDD;

      &.user-rating-total {
        border-bottom: none;
        box-sizing: border-box;

        td:first-child {
          text-align: left;
          color: #000;
          font-size: 18px;

           @media (max-width: $tablet) {
              width: 50%;
           }
        }

        td {
          text-align: right;

          span {
            padding-right: 15px;
            font-size: 12px;

            @media (max-width: $desktop) {
              display: none;
            }

            @media (min-width: $desktop-full) {
              font-size: 14px;
            }
          }

          .btn {
            padding: 5px 15px;
          }
        }
      }
    }

    td {
      width: 14%;
      text-align: center;

      @media (max-width: $desktop) {
        width: 13%;
        font-size: 12px;
      }
    }

    td:first-child {
      width: 30%;
      text-align: left;

      @media (max-width: $desktop) {
        width: 35%;
      }
    }

    thead td {
      padding: 10px 0 25px;
      font-weight: 500;
      color: rgba(0,0,0,.8);

      @media (max-width: $desktop) {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    tbody td {
      padding: 15px 0;
      color: rgba(0,0,0,.5);

      &:first-child {
        padding-right: 20px;


      }
    }
  }

  td.user-rating-title {
    font-size: 29px;

    @media (max-width: $desktop) {
      font-size: 26px;
    }
  }

  .user-rating-book {

    a {

      &:hover {
        text-decoration: none;
      }
    }

    .media-left {
      padding-right: 15px;
      vertical-align: top;

      @media (max-width: $tablet) {
        display: none;
      }
    }

    .media-body {
      vertical-align: middle;
    }
  }

  .media-book-name {
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500;

    @media (max-width: $desktop) {
      font-size: 14px;
    }
  }

  .media-book-author {
    color: rgba(0,0,0,.5);
    font-size: 12px;
  }

  .user-rating-table-mobile {
    display: none;
    width: 100%;

    @media (max-width: $tablet) {
      display: table;
    }

    .user-rating-title {
      padding-bottom: 20px;
      text-align: center;
      font-weight: 500;
    }

    thead tr {
      border-top: none;

      td {
        padding-top: 0;
      }
    }

    tr {
      border-top: 1px solid #DDD;

      td {
        padding: 25px 0;
        vertical-align: top;

        &.user-rating-book-img {
          width: 21%;
          box-sizing: border-box;

          a {
            display: inline-block;
            vertical-align: top;
            padding-right: 10px;

            img {
              display: block;
              max-width: 100%;
              height: auto;
            }
          }
        }

        .user-book-name {
          padding-bottom: 10px;
          line-height: 1.3;
        }

        .user-book-rating-row {
          padding-bottom: 8px;
          color: rgba(0,0,0,.85);
        }

        .user-book-point-all {
          font-weight: bold;
        }

        .user-book-point-title {
          padding-left: 10px;
          color: rgba(0,0,0, .4);
        }
      }
    }

    .user-rating-total {

      b {
        display: block;
        padding-bottom: 20px;
        font-size: 18px;
      }

      .btn {
        padding: 5px 15px;
      }
    }
  }
}