@charset "UTF-8";
#tinymce {
  padding: 15px 10px; }

.muted {
  color: rgba(74, 74, 74, 0.65); }

.arrow {
  display: inline-block;
  margin-left: 3px;
  width: 6px;
  height: 6px;
  border-left: 2px solid #E4E1DA;
  border-bottom: 2px solid #E4E1DA;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 3px -3px 0;
  -ms-transform-origin: 3px -3px 0;
  transform-origin: 3px -3px 0; }

.flag-icon {
  padding: 5px 30px;
  padding-right: 0;
  background: transparent url("../img/svg/flag.svg") 1px center no-repeat;
  background-size: 15px 18px; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    padding-left: 40px;
    position: relative;
    cursor: pointer; }
    input[type="checkbox"] + label::before {
      width: 23px;
      height: 23px;
      border: 1px solid #D0D0D0;
      border-radius: 3px;
      position: absolute;
      top: -3px;
      left: 0;
      content: ''; }
  input[type="checkbox"]:checked + label::before {
    background: #87CE50 url(../img/svg/checked.svg) center center no-repeat;
    background-size: 12px 9px;
    border-color: #87CE50; }

label {
  color: #34485D;
  font-size: 14px;
  font-weight: normal; }

.gradient-sidebar {
  height: 100%;
  background: linear-gradient(to right, rgba(174, 192, 200, 0.1) 35%, transparent 65%); }
  @media (max-width: 992px) {
    .gradient-sidebar {
      background: #ffffff; } }
  .gradient-sidebar > .container {
    height: 100%; }
    @media (max-width: 992px) {
      .gradient-sidebar > .container {
        height: auto; } }
    .gradient-sidebar > .container > .row {
      height: 100%; }
      .gradient-sidebar > .container > .row > .col-md-4,
      .gradient-sidebar > .container > .row > .col-md-8 {
        height: 100%;
        overflow-y: scroll; }
        @media (max-width: 992px) {
          .gradient-sidebar > .container > .row > .col-md-4,
          .gradient-sidebar > .container > .row > .col-md-8 {
            height: auto; } }
  @media (max-width: 768px) {
    .gradient-sidebar .col-md-4 {
      background: rgba(174, 192, 200, 0.1); } }
  .gradient-sidebar .col-md-8 {
    background: #ffffff; }

.report-page,
.repost-page {
  padding-top: 30px; }
  .report-page .back-link,
  .repost-page .back-link {
    margin-bottom: 25px;
    display: inline-block;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    position: relative; }
    .report-page .back-link::before,
    .repost-page .back-link::before {
      width: 8px;
      height: 8px;
      border-left: 2px solid rgba(0, 0, 0, 0.4);
      border-bottom: 2px solid rgba(0, 0, 0, 0.4);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 4px;
      left: 0;
      content: ''; }
    .report-page .back-link:hover, .report-page .back-link:focus,
    .repost-page .back-link:hover,
    .repost-page .back-link:focus {
      color: black;
      text-decoration: none; }
      .report-page .back-link:hover::before, .report-page .back-link:focus::before,
      .repost-page .back-link:hover::before,
      .repost-page .back-link:focus::before {
        border-color: black; }

.login-page {
  height: 100%;
  background-image: url("../img/promo-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 10; }
  .login-page::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 88; }

.rating-page {
  height: 100%;
  padding-top: 35px;
  background: #ffffff; }

.admin-page {
  min-height: 100%;
  min-width: 1200px;
  box-sizing: border-box;
  background: rgba(174, 192, 200, 0.1); }

.posts-sutitle {
  padding: 0 0 10px;
  font-size: 14px;
  color: rgba(4, 4, 4, 0.3); }

.info-page {
  padding: 45px 0;
  height: 100%;
  background: #F6F8F9; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  /* align items in Main Axis */
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  /* align items in Cross Axis */
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  /* Extra space in Cross Axis */ }

body {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  background: #ffffff; }
  @media (max-width: 768px) {
    body {
      font-size: 14px; } }
  body.info-page-body {
    background: #F6F8F9; }

h1,
.h1 {
  margin: 0;
  padding: 50px 0 30px;
  font-size: 36px;
  font-weight: bold; }
  @media (max-width: 768px) {
    h1,
    .h1 {
      font-size: 27px;
      padding: 20px 0 15px; } }

h2,
.h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 21px;
  font-weight: bold; }

h3,
.h3 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: normal; }

a {
  transition: 300ms linear; }

p {
  margin: 0;
  padding: 0 0 20px;
  line-height: 1.4; }
  @media (max-width: 768px) {
    p {
      padding-bottom: 10px; } }

input[type="text"]:focus,
textarea:focus {
  outline: none; }

.container-non-responsive {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
  min-width: 1170px; }

.btn {
  font-size: 14px;
  font-weight: 300;
  border-radius: 4px;
  padding: 9px 20px;
  transition: 200ms linear; }
  .btn:active:hover, .btn:focus {
    outline: none; }

.btn-default {
  background: #CED3D8;
  border-color: #CED3D8;
  color: rgba(37, 37, 37, 0.8); }
  .btn-default:hover, .btn-default:focus, .btn-default:active:hover {
    background: #d7dbdf;
    border-color: #d7dbdf; }
  .btn-default:active {
    background: #c5cbd1;
    border-color: #c5cbd1; }

.btn-success {
  background: #87CE50;
  border-color: #87CE50; }
  .btn-success:hover, .btn-success:focus, .btn-success:active:hover {
    background: #8fd15c;
    border-color: #8fd15c; }
  .btn-success:active {
    background: #7fcb44;
    border-color: #7fcb44; }

.btn-clear {
  background: transparent;
  border-color: rgba(151, 151, 151, 0.32);
  border-radius: 3px;
  color: rgba(28, 28, 28, 0.6); }
  .btn-clear:hover, .btn-clear:focus, .btn-clear:active:hover {
    border-color: #333; }

.btn-primary {
  background: #27384A;
  border-color: #27384A; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active:hover {
    background: #2c4054;
    border-color: #2c4054; }
  .btn-primary:active {
    background: #223040;
    border-color: #223040; }

.btn-info {
  background: #2DB7F5;
  border-color: #2DB7F5; }
  .btn-info:hover, .btn-info:focus, .btn-info:active:hover {
    background: #3cbcf6;
    border-color: #3cbcf6; }
  .btn-info:active {
    background: #1eb2f4;
    border-color: #1eb2f4; }

.btn-warning {
  background: #FB612C;
  border-color: #FB612C; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active:hover {
    background: #fb6c3b;
    border-color: #fb6c3b; }
  .btn-warning:active {
    background: #fb561d;
    border-color: #fb561d; }

.btn-blue {
  background: #428BCA;
  border-color: #428BCA;
  color: #ffffff; }
  .btn-blue:hover, .btn-blue:focus, .btn-blue:active:hover {
    color: #ffffff;
    background: #4e92cd;
    border-color: #4e92cd; }
  .btn-blue:active {
    color: #ffffff;
    background: #3784c5;
    border-color: #3784c5; }

.btn-clock {
  padding-left: 35px;
  position: relative; }
  .btn-clock::before {
    width: 15px;
    height: 15px;
    background: transparent url("../img/svg/clock.svg") 0 0 no-repeat;
    background-size: 14px;
    position: absolute;
    left: 10px;
    top: 11px;
    content: ''; }

.btn-block {
  box-sizing: border-box;
  padding: 10px 13px 8px;
  font-size: 14px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: normal;
  line-height: 18px; }
  .btn-block .pull-right {
    font-size: 12px;
    line-height: 20px;
    color: #AAAAAA; }
  .btn-block.btn-default {
    background: #F6F8F9;
    border-color: #F6F8F9;
    border-radius: 4px; }
    .btn-block.btn-default:hover {
      background: #27384A;
      color: #ffffff; }
  .btn-block.btn-info {
    background: #F6F8F9;
    border-color: #2DB7F5;
    color: #2DB7F5; }

.btn-fb {
  background: #3C56A1;
  border-color: #3C56A1;
  color: #ffffff;
  font-size: 15px; }
  .btn-fb:hover, .btn-fb:focus, .btn-fb:active:hover {
    background: #526ebe;
    border-color: #526ebe;
    color: #ffffff; }
  .btn-fb:active {
    background: #2e427c;
    border-color: #2e427c;
    color: #ffffff; }

.btn-vk {
  background: #4372A6;
  border-color: #4372A6;
  color: #ffffff;
  font-size: 15px; }
  .btn-vk:hover, .btn-vk:focus, .btn-vk:active:hover {
    background: #5786bb;
    border-color: #5786bb;
    color: #ffffff; }
  .btn-vk:active {
    background: #345982;
    border-color: #345982;
    color: #ffffff; }

.btn-more {
  width: 100%;
  padding: 8px 20px;
  border-color: #D0D0D0;
  color: #2E2D2D;
  font-size: 13px; }

.btn-edit {
  display: inline-block;
  vertical-align: middle;
  width: 33px;
  height: 33px;
  padding: 0;
  background: transparent url("../img/svg/pen.svg") right center no-repeat;
  background-size: 16px;
  border: none;
  outline: none;
  font-size: 0;
  cursor: pointer; }
  .btn-edit:hover {
    background: transparent url("../img/svg/pen-hover.svg") right center no-repeat;
    background-size: 16px; }

.label {
  padding: .45em 1.2em;
  background-color: #999999;
  border-radius: 3px;
  font-size: 11px;
  font-weight: normal; }

.label-primary {
  background-color: #428BCA; }

.label-info {
  background-color: #2DB7F5; }

.label-success {
  background-color: #87CE50; }

.alert {
  padding: 15px;
  border-radius: 3px; }
  .alert b {
    font-weight: 500; }

.alert-warning {
  color: #C09853;
  background: #FEFCF3;
  border-color: #FBEED5; }

.badge {
  font-size: 13px;
  font-weight: 300;
  padding: 3px 8px; }

.badge-info {
  background: #2DB7F5;
  color: #ffffff; }

.media {
  color: #000000; }
  .media img {
    display: block;
    max-width: 55px;
    height: auto; }
  .media p {
    padding-top: 5px;
    font-size: 14px;
    line-height: 1.15;
    padding-bottom: 10px; }
    @media (max-width: 768px) {
      .media p {
        padding-top: 0; } }
  .media .progress {
    margin-bottom: 2px; }
  .media small {
    color: #34485D;
    font-size: 12px;
    opacity: .5; }

.progress {
  height: 7px;
  max-width: 90%;
  border-radius: 0;
  box-shadow: none;
  background-color: rgba(193, 197, 201, 0.45); }

.progress-bar {
  box-shadow: none; }

.progress-bar-success {
  background: #87CE50; }

.progress-bar-info {
  background: rgba(255, 255, 255, 0.45); }

.breadcrumb {
  margin: 0;
  padding: 0; }
  .breadcrumb > li + li::before {
    padding-left: 4px;
    padding-right: 7px;
    color: #27384A;
    content: '→'; }
  .breadcrumb > li.active {
    color: #27384A; }
  .breadcrumb > li > a {
    color: #27384A; }
    .breadcrumb > li > a:hover {
      text-decoration: underline; }

.status-item .status-num {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding-right: 15px;
  font-weight: 500; }

.status-item .status-text {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-weight: 300; }

.header {
  color: #ffffff;
  z-index: 10; }

.header-top {
  padding: 0;
  background: #27384A;
  border: none; }
  .header-top.navbar {
    border-radius: 0;
    margin-bottom: 0; }
  @media (max-width: 768px) {
    .header-top .container {
      padding: 0;
      margin: 0; } }
  @media (max-width: 768px) {
    .header-top .navbar-header {
      margin-left: 0;
      margin-right: 0; } }
  @media (max-width: 768px) {
    .header-top.navbar-inverse .navbar-nav {
      padding: 5px 0; } }
  .header-top.navbar-inverse .navbar-nav > li > a {
    padding: 15px 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    opacity: .5; }
    .header-top.navbar-inverse .navbar-nav > li > a:hover {
      opacity: 1; }
    @media (max-width: 768px) {
      .header-top.navbar-inverse .navbar-nav > li > a {
        padding: 10px 15px; } }
  .header-top.navbar-inverse .navbar-nav > li.exit-link {
    display: none; }
    @media (max-width: 768px) {
      .header-top.navbar-inverse .navbar-nav > li.exit-link {
        display: block; } }
  .header-top .navbar-header {
    width: 100%;
    position: relative; }
  .header-top .nav {
    padding-left: 35px; }
    @media (max-width: 768px) {
      .header-top .nav {
        display: none; }
        .header-top .nav.collapse.in {
          display: block;
          margin: 0;
          padding-left: 0;
          width: 100%;
          background: #374A60; } }
  .header-top.navbar-inverse .navbar-toggle {
    padding: 9px 15px;
    position: absolute;
    left: 0;
    border: none;
    border-radius: 0; }
    .header-top.navbar-inverse .navbar-toggle:focus, .header-top.navbar-inverse .navbar-toggle:hover {
      background: #27384A; }
    .header-top.navbar-inverse .navbar-toggle .icon-bar {
      background: #949DA8; }

.navbar-inverse .navbar-nav.user-menu > .open > a,
.navbar-inverse .navbar-nav.user-menu > .open > a:focus,
.navbar-inverse .navbar-nav.user-menu > .open > a:hover {
  background: #374A60;
  opacity: 1; }

.user-menu.nav {
  padding-left: 0; }

.user-menu > li a {
  color: #ffffff;
  font-size: 15px;
  opacity: .5; }

.user-menu .dropdown-menu {
  min-width: 150px;
  box-sizing: border-box;
  padding: 0;
  background: #374A60;
  border: none;
  border-radius: 0; }
  .user-menu .dropdown-menu > li > a {
    padding: 10px 20px; }
    .user-menu .dropdown-menu > li > a:hover {
      background: #374A60;
      color: #ffffff;
      opacity: 1; }

.header-logo-link {
  display: inline-block;
  color: #FAF4EC;
  font-size: 18px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase; }
  .header-logo-link:hover, .header-logo-link:focus {
    color: #ffffff;
    text-decoration: none;
    outline: none; }
  @media (max-width: 768px) {
    .header-logo-link {
      float: none;
      width: 100%;
      text-align: center; } }

.header-bottom {
  padding: 15px 0;
  background: #374A60;
  color: rgba(255, 255, 255, 0.6); }
  @media (max-width: 992px) {
    .header-bottom {
      display: none; } }
  .header-bottom .status-item {
    width: 100%;
    font-size: 0;
    color: rgba(255, 255, 255, 0.6); }
    .header-bottom .status-item:hover {
      color: white; }
  .header-bottom .status-num {
    max-width: 50%;
    font-size: 30px;
    font-weight: 500; }
    @media (max-width: 1200px) {
      .header-bottom .status-num {
        font-size: 28px; } }
  .header-bottom .status-text {
    width: 50%;
    font-size: 13px;
    font-weight: 300; }
    @media (max-width: 1200px) {
      .header-bottom .status-text {
        font-size: 12px; } }
  .header-bottom .status-item-fund {
    display: inline-block;
    text-align: right;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer; }
    .header-bottom .status-item-fund:hover {
      color: white; }
    .header-bottom .status-item-fund .status-num {
      width: 73%;
      padding-right: 10px;
      max-width: 100%; }
    .header-bottom .status-item-fund .status-text {
      width: 20%;
      text-align: left; }
      @media (max-width: 1200px) {
        .header-bottom .status-item-fund .status-text {
          width: 22%; } }
    .header-bottom .status-item-fund .status-help {
      display: inline-block;
      width: 5%;
      line-height: 30px;
      position: relative; }
      .header-bottom .status-item-fund .status-help::before {
        position: absolute;
        top: 8px;
        left: 0;
        content: '';
        width: 14px;
        height: 14px;
        background: transparent url("../img/svg/question.svg") 0 0 no-repeat;
        background-size: 14px; }

.header-admin {
  min-width: 1200px;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    .header-admin .header-logo-link {
      float: left;
      width: auto;
      text-align: left; }
    .header-admin .header-top .nav {
      display: block;
      padding-left: 35px; }
      .header-admin .header-top .nav > li {
        display: inline-block; } }
  .header-admin .header-statistic {
    padding: 15px 0;
    padding-left: 60px;
    line-height: 20px; }
  .header-admin .header-statistic-active,
  .header-admin .header-statistic-check {
    color: #ffffff;
    font-weight: 300;
    text-decoration: none; }
  .header-admin .header-statistic-active {
    margin-right: 45px; }
  .header-admin .header-statistic-check:hover {
    text-decoration: underline; }
  .header-admin .header-statistic-check .badge {
    margin-left: 8px; }

.sidebar {
  padding-top: 30px;
  padding-right: 25px; }
  @media (max-width: 768px) {
    .sidebar {
      padding: 0 0 20px; }
      .sidebar .btn-clock {
        width: 100%;
        text-align: left;
        border-radius: 2px 2px 4px 4px; } }
  .sidebar .h3 {
    display: none; }
  @media (max-width: 768px) {
    .sidebar .sub-text {
      display: none; } }
  .sidebar .sub-text {
    font-size: 13px;
    color: #000000;
    opacity: .5; }
  .sidebar .sidebar-list {
    display: none; }
  .sidebar .media-current-book {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba(151, 151, 151, 0.1);
    z-index: 9; }
    .sidebar .media-current-book.active {
      position: relative; }
      .sidebar .media-current-book.active:before {
        opacity: 1;
        width: 108%;
        height: 100%;
        background: #ffffff;
        border: 1px solid #EAEAEA;
        border-radius: 4px;
        position: absolute;
        top: 14%;
        left: -4%;
        content: '';
        z-index: -1;
        transition: 400ms linear; }
        @media (max-width: 768px) {
          .sidebar .media-current-book.active:before {
            width: 104%;
            height: 125%;
            top: -12.5%;
            left: -2%; } }
    @media (max-width: 768px) {
      .sidebar .media-current-book {
        border-top: none;
        padding-top: 0; } }
    @media (max-width: 992px) {
      .sidebar .media-current-book {
        margin-bottom: 15px;
        border-top: none; } }
    .sidebar .media-current-book .progress {
      margin-bottom: 8px; }
    .sidebar .media-current-book .btn {
      margin-top: 15px;
      padding-top: 6px;
      padding-bottom: 6px; }
  @media (max-width: 768px) {
    .sidebar.sidebar-book .media-current-book {
      display: none; } }
  .sidebar .media-link {
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
    z-index: 8; }
    @media (max-width: 768px) {
      .sidebar .media-link {
        margin-bottom: 20px; }
        .sidebar .media-link:last-of-type {
          margin-bottom: 0; } }
    .sidebar .media-link:before {
      opacity: 0;
      width: 108%;
      height: 140%;
      background: #ffffff;
      border: 1px solid #EAEAEA;
      border-radius: 4px;
      position: absolute;
      top: -20%;
      left: -4%;
      content: '';
      z-index: -1;
      transition: 400ms linear; }
      @media (max-width: 768px) {
        .sidebar .media-link:before {
          width: 104%;
          height: 125%;
          top: -12.5%;
          left: -2%; } }
    .sidebar .media-link:hover {
      text-decoration: none; }
      .sidebar .media-link:hover::before {
        display: block; }
  .sidebar .media-link-active::before {
    opacity: 1; }
  .sidebar .media-links-list {
    margin-top: 30px;
    border-top: 1px solid rgba(151, 151, 151, 0.1);
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);
    padding-top: 10px; }
    @media (max-width: 768px) {
      .sidebar .media-links-list {
        border: none;
        margin-top: 5px; } }
    @media (max-width: 992px) {
      .sidebar .media-links-list {
        border-top: none; } }
    .sidebar .media-links-list:hover .media-link::before,
    .sidebar .media-links-list:hover .media-link-active::before {
      opacity: 0; }
    .sidebar .media-links-list:hover .media-link:hover::before,
    .sidebar .media-links-list:hover .media-link-active:hover::before {
      opacity: 1; }

.dashbord {
  padding-left: 50px;
  margin-bottom: 50px; }
  @media (max-width: 992px) {
    .dashbord {
      padding-left: 0; } }
  .dashbord h2 {
    margin: 0;
    padding: 50px 0 30px;
    font-size: 36px;
    font-weight: normal; }
    @media (max-width: 768px) {
      .dashbord h2 {
        font-size: 27px;
        padding: 20px 0 15px; } }
  .dashbord p {
    color: #333;
    font-size: 18px; }

.book {
  padding-top: 45px;
  padding-left: 40px; }
  @media (max-width: 768px) {
    .book {
      padding-left: 0;
      padding-top: 20px; } }
  @media (max-width: 992px) {
    .book {
      padding-left: 0; } }
  .book .media {
    margin-bottom: 50px; }
    @media (max-width: 768px) {
      .book .media {
        margin-bottom: 15px; } }
    .book .media .h2 {
      padding-bottom: 5px; }
      @media (max-width: 768px) {
        .book .media .h2 {
          display: none; } }
    .book .media .media-left {
      padding-right: 20px; }
      .book .media .media-left img {
        max-width: 100px; }
      @media (max-width: 768px) {
        .book .media .media-left {
          display: none; } }
    .book .media .book-about {
      padding-bottom: 10px; }
      @media (max-width: 768px) {
        .book .media .book-about {
          display: none; } }
    .book .media .book-author {
      padding-right: 20px; }
  .book .book-nav {
    margin-bottom: 35px; }
  .book .book-nav-link {
    margin-bottom: 15px;
    display: block;
    padding: 14px 15px;
    background: #F6F4EB;
    border: 1px solid #DFDFDF;
    border-radius: 4px; }
    .book .book-nav-link:hover {
      background: #ded7b6; }
    .book .book-nav-link .pull-left {
      color: #000000;
      font-size: 14px;
      font-weight: bold; }
      @media (max-width: 768px) {
        .book .book-nav-link .pull-left {
          width: 60%;
          font-size: 12px; } }
    @media (max-width: 768px) {
      .book .book-nav-link .pull-right {
        width: 40%;
        text-align: right; } }
    .book .book-nav-link .book-nav-points {
      padding-left: 15px;
      color: #34485D;
      font-size: 13px;
      font-weight: normal; }
      @media (max-width: 768px) {
        .book .book-nav-link .book-nav-points {
          display: block;
          padding-left: 0;
          padding-top: 3px;
          font-size: 10px; } }
    .book .book-nav-link .label {
      padding: .55em .9em;
      font-size: 13px; }
      @media (max-width: 768px) {
        .book .book-nav-link .label {
          display: inline-block;
          vertical-align: middle;
          font-size: 12px; } }
  .book .book-progress {
    padding-bottom: 35px; }
    .book .book-progress .progress {
      max-width: 100%;
      margin-top: 25px;
      margin-bottom: 0;
      background-color: #27384A;
      overflow: visible;
      position: relative; }
    .book .book-progress .progress-bar {
      position: relative; }
    .book .book-progress .progress-bar-success {
      z-index: 9; }
      .book .book-progress .progress-bar-success::before {
        width: 14px;
        height: 20px;
        background: transparent url("../img/svg/run-man.svg") 0 0 no-repeat;
        background-size: 14px 20px;
        position: absolute;
        top: -23px;
        right: -4px;
        content: ''; }
    .book .book-progress .progress-bar-info {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 8; }
      .book .book-progress .progress-bar-info::before {
        width: 16px;
        height: 18px;
        background: transparent url("../img/svg/flag.svg") 0 0 no-repeat;
        background-size: 16px 18px;
        position: absolute;
        top: -22px;
        right: -10px;
        content: ''; }
  .book .status-item {
    color: #374A60; }
    .book .status-item .status-num {
      font-size: 37px;
      line-height: 1;
      font-weight: bold; }
    .book .status-item .status-text {
      font-size: 14px; }
  .book .book-chapters .input-group {
    margin-bottom: 25px; }

.report {
  padding-right: 45px; }
  @media (max-width: 768px) {
    .report {
      padding-right: 0; } }
  .report .h2 {
    padding-bottom: 25px; }
  .report .report-item {
    margin-bottom: 35px; }
  .report .panel-group .panel-default {
    border-color: transparent;
    border-radius: 0 0 4px 4px;
    box-shadow: none;
    overflow: hidden; }
  .report .panel-group .panel-heading {
    background: #FB612C;
    color: #ffffff;
    padding: 13px;
    line-height: 16px;
    border-radius: 4px 4px 0 0; }
  .report .panel-group .panel-title-num {
    padding-right: 25px;
    font-weight: 300;
    font-size: 13px;
    position: relative; }
    .report .panel-group .panel-title-num::after {
      width: 8px;
      height: 8px;
      border-left: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: absolute;
      top: 2px;
      right: 0;
      content: ''; }
  .report .panel-group .panel-body {
    background: rgba(233, 233, 233, 0.4);
    padding: 15px; }
    .report .panel-group .panel-body p {
      padding-bottom: 10px;
      line-height: 1.5; }
      .report .panel-group .panel-body p:last-of-type {
        padding-bottom: 0; }
  .report .edit-form .input-groug {
    padding-top: 20px; }
    @media (max-width: 768px) {
      .report .edit-form .input-groug .btn {
        padding-left: 10px;
        padding-right: 10px; } }
    .report .edit-form .input-groug .btn-primary {
      margin-right: 10px; }
  .report.report-sent textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background: #ffffff;
    border: 1px solid rgba(163, 163, 163, 0.4);
    border-radius: 0;
    resize: vertical;
    outline: none; }
  .report input[type="text"] {
    margin-top: 10px;
    border-color: rgba(198, 198, 198, 0.8);
    border-radius: 4px;
    box-shadow: none;
    max-width: 100%; }
  .report .repost-link input[type="text"] {
    max-width: 70%; }
    @media (max-width: 768px) {
      .report .repost-link input[type="text"] {
        max-width: 100%; } }
  .report.report-video .form-group {
    margin-bottom: 20px; }
  .report .report-video-link {
    margin-top: 10px; }
    .report .report-video-link label {
      color: #2E2D2D;
      font-size: 18px;
      font-weight: bold; }

@media (max-width: 768px) {
  .repost .input-group {
    width: 100%; } }

.repost .input-group label {
  display: block;
  margin: 10px 0; }

.repost .input-group input[type="text"] {
  height: 40px; }
  @media (max-width: 768px) {
    .repost .input-group input[type="text"] {
      display: block;
      border-radius: 4px; } }

@media (max-width: 768px) {
  .repost .input-group .input-group-btn {
    margin-top: 10px;
    float: left;
    width: 100%;
    white-space: normal; }
    .repost .input-group .input-group-btn .btn {
      border-radius: 4px; } }

.repost .well {
  margin-top: 40px;
  padding: 25px;
  background: #ffffff;
  border-color: #D8D8D8;
  box-shadow: none; }
  @media (max-width: 768px) {
    .repost .well {
      padding: 0;
      border: none; } }

.repost .well-title {
  font-size: 18px;
  font-weight: 500;
  color: #2E2D2D; }

.repost .repost-book {
  max-width: 70%;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 30px;
  box-sizing: border-box;
  background: #FBFCFD;
  border: 1px solid #C6C6C6; }
  @media (max-width: 1200px) {
    .repost .repost-book {
      max-width: 85%; } }
  @media (max-width: 768px) {
    .repost .repost-book {
      max-width: 100%;
      padding-bottom: 15px;
      margin-bottom: 20px; } }
  .repost .repost-book .media-left {
    padding-right: 25px; }
  @media (max-width: 768px) {
    .repost .repost-book .media-left,
    .repost .repost-book .media-body {
      display: block; } }
  .repost .repost-book .repost-book-name {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0; }
  .repost .repost-book .repost-book-title {
    margin: 0;
    padding: 0 0 5px;
    font-size: 29px;
    font-weight: 900; }
  .repost .repost-book .repost-book-tag {
    color: #4A4A4A;
    font-size: 16px;
    line-height: 1.3; }
    .repost .repost-book .repost-book-tag a {
      color: #4A4A4A; }

.repost .btn-fb {
  margin-right: 20px; }
  @media (max-width: 768px) {
    .repost .btn-fb {
      margin-bottom: 15px; } }

.user-rating {
  margin: 0 0 70px; }
  @media (max-width: 768px) {
    .user-rating {
      margin-bottom: 20px; } }
  @media (max-width: 768px) {
    .user-rating .user-rating-table {
      display: none; } }
  .user-rating .user-rating-table tr {
    border-bottom: 1px solid #DDD; }
    .user-rating .user-rating-table tr.user-rating-total {
      border-bottom: none;
      box-sizing: border-box; }
      .user-rating .user-rating-table tr.user-rating-total td:first-child {
        text-align: left;
        color: #000;
        font-size: 18px; }
        @media (max-width: 768px) {
          .user-rating .user-rating-table tr.user-rating-total td:first-child {
            width: 50%; } }
      .user-rating .user-rating-table tr.user-rating-total td {
        text-align: right; }
        .user-rating .user-rating-table tr.user-rating-total td span {
          padding-right: 15px;
          font-size: 12px; }
          @media (max-width: 992px) {
            .user-rating .user-rating-table tr.user-rating-total td span {
              display: none; } }
          @media (min-width: 1200px) {
            .user-rating .user-rating-table tr.user-rating-total td span {
              font-size: 14px; } }
        .user-rating .user-rating-table tr.user-rating-total td .btn {
          padding: 5px 15px; }
  .user-rating .user-rating-table td {
    width: 14%;
    text-align: center; }
    @media (max-width: 992px) {
      .user-rating .user-rating-table td {
        width: 13%;
        font-size: 12px; } }
  .user-rating .user-rating-table td:first-child {
    width: 30%;
    text-align: left; }
    @media (max-width: 992px) {
      .user-rating .user-rating-table td:first-child {
        width: 35%; } }
  .user-rating .user-rating-table thead td {
    padding: 10px 0 25px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8); }
    @media (max-width: 992px) {
      .user-rating .user-rating-table thead td {
        padding-left: 8px;
        padding-right: 8px; } }
  .user-rating .user-rating-table tbody td {
    padding: 15px 0;
    color: rgba(0, 0, 0, 0.5); }
    .user-rating .user-rating-table tbody td:first-child {
      padding-right: 20px; }
  .user-rating td.user-rating-title {
    font-size: 29px; }
    @media (max-width: 992px) {
      .user-rating td.user-rating-title {
        font-size: 26px; } }
  .user-rating .user-rating-book a:hover {
    text-decoration: none; }
  .user-rating .user-rating-book .media-left {
    padding-right: 15px;
    vertical-align: top; }
    @media (max-width: 768px) {
      .user-rating .user-rating-book .media-left {
        display: none; } }
  .user-rating .user-rating-book .media-body {
    vertical-align: middle; }
  .user-rating .media-book-name {
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500; }
    @media (max-width: 992px) {
      .user-rating .media-book-name {
        font-size: 14px; } }
  .user-rating .media-book-author {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px; }
  .user-rating .user-rating-table-mobile {
    display: none;
    width: 100%; }
    @media (max-width: 768px) {
      .user-rating .user-rating-table-mobile {
        display: table; } }
    .user-rating .user-rating-table-mobile .user-rating-title {
      padding-bottom: 20px;
      text-align: center;
      font-weight: 500; }
    .user-rating .user-rating-table-mobile thead tr {
      border-top: none; }
      .user-rating .user-rating-table-mobile thead tr td {
        padding-top: 0; }
    .user-rating .user-rating-table-mobile tr {
      border-top: 1px solid #DDD; }
      .user-rating .user-rating-table-mobile tr td {
        padding: 25px 0;
        vertical-align: top; }
        .user-rating .user-rating-table-mobile tr td.user-rating-book-img {
          width: 21%;
          box-sizing: border-box; }
          .user-rating .user-rating-table-mobile tr td.user-rating-book-img a {
            display: inline-block;
            vertical-align: top;
            padding-right: 10px; }
            .user-rating .user-rating-table-mobile tr td.user-rating-book-img a img {
              display: block;
              max-width: 100%;
              height: auto; }
        .user-rating .user-rating-table-mobile tr td .user-book-name {
          padding-bottom: 10px;
          line-height: 1.3; }
        .user-rating .user-rating-table-mobile tr td .user-book-rating-row {
          padding-bottom: 8px;
          color: rgba(0, 0, 0, 0.85); }
        .user-rating .user-rating-table-mobile tr td .user-book-point-all {
          font-weight: bold; }
        .user-rating .user-rating-table-mobile tr td .user-book-point-title {
          padding-left: 10px;
          color: rgba(0, 0, 0, 0.4); }
    .user-rating .user-rating-table-mobile .user-rating-total b {
      display: block;
      padding-bottom: 20px;
      font-size: 18px; }
    .user-rating .user-rating-table-mobile .user-rating-total .btn {
      padding: 5px 15px; }

.rating .rating-title {
  margin: 0;
  padding: 0 0 15px;
  color: #212121;
  font-size: 29px;
  font-weight: bold; }

.rating .rating-table-head {
  width: 100%;
  border-bottom: 1px dashed rgba(151, 151, 151, 0.5);
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  margin-bottom: 12px; }
  .rating .rating-table-head td {
    padding-bottom: 20px; }
    .rating .rating-table-head td:first-child {
      width: 70%; }
    .rating .rating-table-head td:nth-child(2), .rating .rating-table-head td:nth-child(3) {
      width: 15%;
      text-align: center; }

.rating .rating-table {
  width: 100%;
  margin-bottom: 20px; }
  .rating .rating-table tr:nth-child(1) .rating-person table td:first-child,
  .rating .rating-table tr:nth-child(2) .rating-person table td:first-child,
  .rating .rating-table tr:nth-child(3) .rating-person table td:first-child {
    font-size: 14px; }

.rating .rating-person a {
  display: block;
  text-decoration: none;
  box-sizing: border-box; }
  .rating .rating-person a:hover {
    text-decoration: none;
    position: relative;
    z-index: 9; }
    .rating .rating-person a:hover::before {
      width: 99%;
      height: 110%;
      background: #F6F8F9;
      position: absolute;
      content: '';
      top: -5%;
      left: -1%;
      z-index: -1; }
    .rating .rating-person a:hover .rating-person-name {
      font-weight: bold; }

.rating .rating-person table {
  width: 100%;
  vertical-align: middle;
  color: #000000; }
  .rating .rating-person table td {
    box-sizing: border-box; }
    .rating .rating-person table td:first-child {
      padding: 12px 0;
      width: 4%;
      font-weight: bold;
      font-size: 11px; }
      @media (max-width: 768px) {
        .rating .rating-person table td:first-child {
          width: 8%; } }

.rating .rating-person .rating-points-step,
.rating .rating-person .rating-points-all {
  padding: 12px 0;
  width: 15%;
  text-align: center;
  font-size: 12px; }

.rating .rating-person .rating-points-step {
  color: rgba(0, 0, 0, 0.7); }

.rating .rating-person-img {
  padding: 12px 0;
  width: 7%; }
  @media (max-width: 768px) {
    .rating .rating-person-img {
      width: 17%; } }
  .rating .rating-person-img img {
    display: block;
    width: 33px;
    height: auto;
    border-radius: 50%; }

.rating .rating-person-about {
  padding: 12px 0;
  width: 55%; }
  @media (max-width: 768px) {
    .rating .rating-person-about {
      width: 45%; } }

.rating .rating-person-name {
  font-size: 14px;
  padding-bottom: 5px; }
  @media (max-width: 768px) {
    .rating .rating-person-name {
      font-size: 12px; } }

.rating .rating-person-read {
  font-size: 12px;
  color: #C2C2C2; }
  @media (max-width: 768px) {
    .rating .rating-person-read {
      font-size: 10px; } }

.rating .btn-more {
  margin-bottom: 30px; }

.login-form {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: -190px auto -190px;
  max-width: 345px;
  max-height: 380px;
  display: inline-block;
  padding: 35px 30px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 5px;
  text-align: center;
  z-index: 99; }
  .login-form .login-form-head {
    margin-bottom: 40px;
    padding-bottom: 30px;
    color: rgba(46, 45, 45, 0.87);
    border-bottom: 1px solid #979797;
    position: relative; }
    .login-form .login-form-head::after {
      width: 40px;
      height: 20px;
      background: #ffffff url("../img/svg/bookmark.svg") center center no-repeat;
      background-size: 16px 21px;
      position: absolute;
      left: 50%;
      bottom: -10px;
      content: '';
      margin: 0 -20px; }
  .login-form .login-form-title {
    margin: 0;
    padding: 0 0 10px;
    font-size: 26px;
    font-weight: bold; }
  .login-form .login-form-subtitle {
    text-align: center;
    font-size: 15px; }
  .login-form .login-form-btns {
    margin-bottom: 15px; }
    .login-form .login-form-btns .btn {
      width: 100%;
      margin: 10px 0; }
  .login-form .login-form-link {
    font-size: 14px;
    color: rgba(46, 45, 45, 0.8); }

.users .users-head {
  padding: 35px 0 30px; }

.users .users-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal; }

.users .users-table {
  width: 100%;
  vertical-align: middle;
  font-weight: 300; }
  .users .users-table a {
    outline: none; }
  .users .users-table .caret {
    margin-left: 10px; }
  .users .users-table thead,
  .users .users-table thead a {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold; }
  .users .users-table a:hover {
    text-decoration: none;
    color: #000;
    outline: none; }
    .users .users-table a:hover .label {
      color: #ffffff; }
  .users .users-table a:focus,
  .users .users-table a:active,
  .users .users-table a:active:hover {
    text-decoration: none; }
    .users .users-table a:focus .label,
    .users .users-table a:active .label,
    .users .users-table a:active:hover .label {
      color: #ffffff; }
  .users .users-table tbody > tr > td > a {
    display: block;
    color: #000; }
    .users .users-table tbody > tr > td > a:hover {
      background: #ffffff;
      text-decoration: none; }
  .users .users-table tbody > tr > td > a > table {
    width: 100%; }
  .users .users-table thead > tr,
  .users .users-table .users-table-row tr {
    border-top: 1px solid #DDDDDD; }
  .users .users-table thead > tr > td,
  .users .users-table .users-table-row tr td {
    padding: 15px 0; }
    .users .users-table thead > tr > td.users-table-id,
    .users .users-table .users-table-row tr td.users-table-id {
      padding-left: 10px; }
  .users .users-table td {
    box-sizing: border-box; }

.users .users-table-id {
  width: 11%;
  padding-left: 5px; }

.users .users-table-user {
  width: 27%;
  outline: none; }

.users .users-table-img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 15px; }
  .users .users-table-img img {
    display: block;
    width: 34px;
    height: auto;
    border-radius: 50%; }

.users .users-table-name {
  display: inline-block;
  vertical-align: middle;
  color: #428BCA; }

.users .users-table-status {
  width: 15%; }

.users .users-table-points {
  width: 15%; }

.users .users-table-works {
  width: 32%; }

.users .label-success {
  background: #5CB85C; }

.user .user-name {
  margin: 0;
  padding: 35px 0 30px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold; }

.user .label {
  margin-left: 20px;
  vertical-align: middle; }

.user .user-about {
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 14px 15px 14px;
  border: 1px solid #D0D0D0;
  border-radius: 3px; }

.user .user-list {
  padding: 3px 0 0;
  margin: 0;
  list-style: none; }
  .user .user-list li {
    display: inline-block;
    margin-right: 30px; }

.user .user-list-title {
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold; }

.user .user-list-muted {
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.5); }

.user .user-about-menu {
  margin: 0;
  padding: 0; }
  .user .user-about-menu > li.open > a {
    background-color: transparent; }
  .user .user-about-menu > li > a {
    padding: 0;
    color: #000000; }
    .user .user-about-menu > li > a:hover {
      background-color: transparent; }
    .user .user-about-menu > li > a .caret {
      margin-left: 12px; }
  .user .user-about-menu .dropdown-menu {
    padding: 10px 0;
    padding-left: 15px;
    border-radius: 3px;
    text-align: right;
    top: 30px;
    left: auto;
    right: -16px; }
    .user .user-about-menu .dropdown-menu a:hover {
      background-color: transparent;
      color: #F61010; }

.user .user-works {
  width: 100%;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.5); }
  .user .user-works tr {
    border-bottom: 1px solid #DDDDDD; }
  .user .user-works td {
    padding: 20px 0; }
  .user .user-works .user-works-book {
    padding-left: 5px;
    width: 20%; }
  .user .user-works .user-works-type {
    color: #000000;
    width: 18%; }
    .user .user-works .user-works-type .muted {
      padding-left: 20px; }
  .user .user-works .user-works-status {
    width: 12%; }
    .user .user-works .user-works-status .label {
      margin: 0; }
  .user .user-works .user-works-points {
    font-size: 13px;
    width: 19%; }
  .user .user-works .user-works-step {
    padding-right: 5px;
    text-align: right;
    color: rgba(0, 0, 0, 0.4);
    width: 31%; }

.user .label-success {
  background: #5CB85C; }

.admin-head {
  margin-bottom: 25px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(208, 208, 208, 0.6); }
  .admin-head .pull-left {
    padding-top: 9px;
    color: #27384A; }
  .admin-head .btn {
    padding: 6px 19px; }

.program .program-step .h1 {
  margin: 0;
  padding: 15px 0 35px;
  font-size: 50px; }

.program .program-week {
  margin-bottom: 30px; }
  .program .program-week table {
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid #DDDDDD; }
    .program .program-week table td {
      padding: 10px 0;
      border-top: 1px solid #DDDDDD;
      font-weight: bold; }
  .program .program-week .program-week-book {
    width: 24%;
    padding-left: 5px; }
  .program .program-week .program-week-type {
    width: 11%; }
  .program .program-week .program-week-status {
    width: 10%; }
  .program .program-week .program-week-points {
    width: 13%; }
  .program .program-week .program-week-descr {
    width: 39%;
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
    line-height: 1.3; }
  .program .program-week .program-week-btn {
    width: 3%;
    padding-right: 5px; }

.check-work {
  padding-bottom: 50px; }
  .check-work .alert {
    margin-bottom: 30px; }
  .check-work .admin-head {
    margin-bottom: 30px; }
  .check-work .work {
    padding-right: 30px; }
  .check-work .work-head {
    margin-bottom: 15px; }
    .check-work .work-head .pull-left {
      width: 70%; }
      .check-work .work-head .pull-left .h2 {
        margin-top: 0;
        padding-top: 0; }
    .check-work .work-head .pull-right {
      width: 25%;
      text-align: right; }
      .check-work .work-head .pull-right .label {
        margin-top: 6px;
        display: inline-block;
        padding: .7em 1.45em;
        border-radius: 25px;
        font-size: 14px; }
  .check-work .work-body {
    background: #ffffff;
    padding: 20px;
    padding-bottom: 0;
    font-size: 15px;
    line-height: 1.2; }
  .check-work .work-check-task {
    margin-bottom: 10px;
    padding-top: 11px; }
    .check-work .work-check-task .h2 {
      display: inline-block;
      vertical-align: baseline;
      padding-bottom: 25px; }
    .check-work .work-check-task p {
      padding-left: 20px;
      display: inline-block;
      vertical-align: baseline;
      color: rgba(0, 0, 0, 0.5); }
      .check-work .work-check-task p span {
        color: #000; }
  .check-work .work-check-checkboxes {
    margin-bottom: 35px; }
    .check-work .work-check-checkboxes .input-group {
      margin-bottom: 10px; }
    .check-work .work-check-checkboxes label {
      color: #000000;
      font-size: 14px;
      line-height: 1.4; }
      .check-work .work-check-checkboxes label::before {
        top: 6px; }
  .check-work .work-check-row {
    margin-bottom: 25px; }
    .check-work .work-check-row .work-check-title {
      margin: 0;
      padding: 0;
      padding-bottom: 20px;
      color: #000000;
      font-size: 18px;
      font-weight: bold; }
    .check-work .work-check-row .btn-group-justified {
      border: 1px solid #CCCCCC;
      border-radius: 3px;
      background: #ffffff; }
      .check-work .work-check-row .btn-group-justified > .btn-group {
        box-sizing: border-box;
        border-right: 1px solid #CCCCCC;
        width: auto; }
        .check-work .work-check-row .btn-group-justified > .btn-group:first-of-type {
          width: 28%; }
        .check-work .work-check-row .btn-group-justified > .btn-group:last-of-type {
          border-right: none; }
        .check-work .work-check-row .btn-group-justified > .btn-group input[type='radio'] {
          display: none; }
          .check-work .work-check-row .btn-group-justified > .btn-group input[type='radio'] + label {
            width: 100%;
            display: block;
            margin: 0;
            padding: 8px;
            text-align: center;
            color: rgba(0, 0, 0, 0.56);
            cursor: pointer; }
            .check-work .work-check-row .btn-group-justified > .btn-group input[type='radio'] + label::before {
              display: none; }
          .check-work .work-check-row .btn-group-justified > .btn-group input[type='radio']:checked + label {
            background: #428BCA;
            color: #ffffff; }
    .check-work .work-check-row textarea {
      margin-top: 5px;
      width: 100%;
      box-sizing: border-box;
      padding: 8px;
      background: transparent;
      border-color: #AEC0C8;
      border-radius: 0;
      resize: vertical; }
  .check-work .work-check-btns.row {
    margin: 0 -10px; }
  .check-work .work-check-btns .col-xs-5,
  .check-work .work-check-btns .col-xs-7 {
    padding: 0 10px; }
  .check-work .work-check-btns .btn {
    width: 100%; }
  .check-work .work-check-btns .btn-blue {
    font-weight: bold; }
    .check-work .work-check-btns .btn-blue .pull-left {
      font-size: 15px; }
    .check-work .work-check-btns .btn-blue .pull-right {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.8); }

.task-edit {
  padding-top: 10px; }
  .task-edit .task-edit-title {
    margin: 0;
    padding: 0 0 25px;
    font-size: 26px; }
  .task-edit .task-edit-left {
    padding-right: 50px; }
    .task-edit .task-edit-left label {
      padding-top: 8px;
      font-size: 14px;
      font-weight: bold; }
    .task-edit .task-edit-left .form-group {
      margin-bottom: 25px;
      font-size: 0; }
      .task-edit .task-edit-left .form-group .form-control-small {
        max-width: 50px; }
    .task-edit .task-edit-left .form-group-step,
    .task-edit .task-edit-left .form-group-week {
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      text-align: right;
      width: 50%; }
      .task-edit .task-edit-left .form-group-step label,
      .task-edit .task-edit-left .form-group-step input,
      .task-edit .task-edit-left .form-group-week label,
      .task-edit .task-edit-left .form-group-week input {
        display: inline-block;
        vertical-align: middle; }
      .task-edit .task-edit-left .form-group-step label,
      .task-edit .task-edit-left .form-group-week label {
        padding: 0;
        line-height: 1; }
      .task-edit .task-edit-left .form-group-step input,
      .task-edit .task-edit-left .form-group-week input {
        max-width: 50px;
        text-align: center;
        margin-left: 10px; }
    .task-edit .task-edit-left .form-group-step label {
      width: 40%; }
    .task-edit .task-edit-left .form-group-step input {
      width: 60%; }
    .task-edit .task-edit-left textarea {
      margin-top: 15px; }
    .task-edit .task-edit-left .btn-blue {
      width: 100%;
      padding: 10px 20px;
      font-size: 15px;
      font-weight: 500; }
    .task-edit .task-edit-left p {
      padding-top: 11px;
      color: rgba(0, 0, 0, 0.6); }
  .task-edit label.label-with-text {
    display: block;
    margin-bottom: 0;
    padding-top: 4px; }
  .task-edit .label-text {
    display: block;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.6); }
  .task-edit .form-group-border {
    text-align: right; }
    .task-edit .form-group-border .form-group-border-label,
    .task-edit .form-group-border .input-arrow,
    .task-edit .form-group-border input {
      display: inline-block;
      vertical-align: middle; }
    .task-edit .form-group-border .form-group-border-label {
      text-align: left;
      min-width: 100px;
      margin-right: 5px; }
    .task-edit .form-group-border .input-arrow {
      width: 35px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
      text-align: center; }
    .task-edit .form-group-border input {
      width: 50px; }
  .task-edit .task-edit-right {
    padding-top: 9px; }
    .task-edit .task-edit-right p {
      padding-bottom: 25px;
      color: rgba(0, 0, 0, 0.6); }
    .task-edit .task-edit-right textarea {
      color: #000000;
      outline: none; }

.info-box-wrap {
  text-align: center;
  color: #000000; }
  .info-box-wrap .info-box-label {
    padding: 12px 0;
    background: #FCB860;
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300; }
    .info-box-wrap .info-box-label.success {
      background: #87CE50; }
  .info-box-wrap .info-box {
    margin-top: 15px;
    background: #ffffff; }
  .info-box-wrap .info-box-pic {
    height: 215px;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; }
  .info-box-wrap .info-box-body {
    padding: 50px 90px;
    border: 1px solid #E1DDDD;
    border-top: none;
    border-radius: 0 0 4px 4px; }
    @media (max-width: 768px) {
      .info-box-wrap .info-box-body {
        padding: 30px 10%; } }
    .info-box-wrap .info-box-body.with-top-title {
      padding-top: 30px; }
    .info-box-wrap .info-box-body .info-box-text {
      font-size: 16px;
      line-height: 1.5;
      width: 80%;
      margin: 0 auto; }
      @media (max-width: 768px) {
        .info-box-wrap .info-box-body .info-box-text {
          width: 100%;
          font-size: 14px; } }
    .info-box-wrap .info-box-body .btn {
      margin-top: 10px; }
  .info-box-wrap .info-box-toptitle {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px; }
    @media (max-width: 768px) {
      .info-box-wrap .info-box-toptitle {
        font-size: 16px; } }
  .info-box-wrap .info-box-title {
    margin: 0;
    padding: 0 0 20px;
    font-size: 67px;
    line-height: 1.2;
    font-weight: 900; }
    @media (max-width: 768px) {
      .info-box-wrap .info-box-title {
        font-size: 30px;
        padding-bottom: 10px; } }

@media (max-width: 768px) {
  .book-page .media-links-list {
    display: none; } }

.book-page .sidebar-list {
  width: 100%;
  margin-top: 20px;
  list-style: none;
  padding: 0;
  font-size: 0; }
  .book-page .sidebar-list > li {
    padding: 10px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 3px; }
    .book-page .sidebar-list > li.open {
      border-radius: 3px 3px 0 0; }
  .book-page .sidebar-list a {
    color: #000000;
    font-size: 14px; }
  .book-page .sidebar-list .caret {
    display: inline-block;
    margin-top: 9px; }
  .book-page .sidebar-list img {
    width: 15px;
    max-width: 15px;
    height: auto;
    margin-right: 10px; }
  .book-page .sidebar-list .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    border-radius: 0 0 3px 3px;
    border: 1px solid #CCCCCC;
    box-shadow: none; }
    .book-page .sidebar-list .dropdown-menu > li > a {
      white-space: normal; }
      .book-page .sidebar-list .dropdown-menu > li > a:hover, .book-page .sidebar-list .dropdown-menu > li > a:focus, .book-page .sidebar-list .dropdown-menu > li > a:active {
        color: #27384A; }
  @media (max-width: 768px) {
    .book-page .sidebar-list {
      display: block; } }
