@charset "UTF-8";
body {
  background: #fbfbfb;
  font-family: "Roboto", Roboto, Arial, sans-serif; }

.content {
  padding-top: 70px;
  padding-bottom: 90px; }

.content.dashboard > .container,
.content.book-page > .container {
  width: 800px; }

.btn,
.navbar-default .navbar-nav > li > a.btn {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 7px 12px;
  font-weight: normal; }
  .btn:hover, .btn:focus,
  .navbar-default .navbar-nav > li > a.btn:hover,
  .navbar-default .navbar-nav > li > a.btn:focus {
    color: #fff;
    border: none; }
  .btn > .glyphicon,
  .navbar-default .navbar-nav > li > a.btn > .glyphicon {
    padding-right: 10px; }

.label {
  border-radius: 4px;
  padding: 7px 12px;
  font-size: 12px; }
  .label:hover {
    cursor: default;
    pointer-events: none; }

.btn-primary,
.navbar-default .navbar-nav > li > a.btn-primary,
.nav > li > a.btn-primary,
.label-primary {
  background: #27384A; }
  .btn-primary:hover, .btn-primary:focus,
  .navbar-default .navbar-nav > li > a.btn-primary:hover,
  .navbar-default .navbar-nav > li > a.btn-primary:focus,
  .nav > li > a.btn-primary:hover,
  .nav > li > a.btn-primary:focus,
  .label-primary:hover,
  .label-primary:focus {
    background: rgba(39, 56, 74, 0.9); }

.btn-success,
.navbar-default .navbar-nav > li > a.btn-success,
.nav > li > a.btn-success,
.label-success {
  background: #87CE50; }
  .btn-success:hover, .btn-success:focus,
  .navbar-default .navbar-nav > li > a.btn-success:hover,
  .navbar-default .navbar-nav > li > a.btn-success:focus,
  .nav > li > a.btn-success:hover,
  .nav > li > a.btn-success:focus,
  .label-success:hover,
  .label-success:focus {
    background: rgba(135, 206, 80, 0.9); }

.btn-warning,
.navbar-default .navbar-nav > li > a.btn-warning,
.nav > li > a.btn-warning,
.label-warning {
  background: #F6CB23; }
  .btn-warning:hover, .btn-warning:focus,
  .navbar-default .navbar-nav > li > a.btn-warning:hover,
  .navbar-default .navbar-nav > li > a.btn-warning:focus,
  .nav > li > a.btn-warning:hover,
  .nav > li > a.btn-warning:focus,
  .label-warning:hover,
  .label-warning:focus {
    background: rgba(246, 203, 35, 0.9); }

.btn-danger,
.navbar-default .navbar-nav > li > a.btn-danger,
.nav > li > a.btn-danger,
.label-danger {
  background: #FB612C; }
  .btn-danger:hover, .btn-danger:focus,
  .navbar-default .navbar-nav > li > a.btn-danger:hover,
  .navbar-default .navbar-nav > li > a.btn-danger:focus,
  .nav > li > a.btn-danger:hover,
  .nav > li > a.btn-danger:focus,
  .label-danger:hover,
  .label-danger:focus {
    background: rgba(251, 97, 44, 0.9); }

.btn-default,
.navbar-default .navbar-nav > li > a.btn-default,
.nav > li > a.btn-default,
.label-default {
  background: #BCC0C1; }
  .btn-default:hover, .btn-default:focus,
  .navbar-default .navbar-nav > li > a.btn-default:hover,
  .navbar-default .navbar-nav > li > a.btn-default:focus,
  .nav > li > a.btn-default:hover,
  .nav > li > a.btn-default:focus,
  .label-default:hover,
  .label-default:focus {
    background: rgba(188, 192, 193, 0.9); }

.btn-group > .btn {
  border: 1px solid transparent; }
  .btn-group > .btn-success {
    border-color: #87CE50; }
  .btn-group > .btn-default {
    background: #fff;
    color: #27384A;
    border-color: #27384A; }

.label.label-process {
  background: #2DB7F5; }
  .label.label-process:hover, .label.label-process:focus {
    background: rgba(45, 183, 245, 0.9); }

.alert {
  font-weight: bold; }
  .alert__text {
    float: left;
    margin-top: 6px; }
  .alert__btn {
    display: block;
    float: right; }

.well {
  padding: 30px;
  background: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgba(39, 56, 74, 0.1); }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #ececec; }

input[type="checkbox"] + label::before {
  background: #fff; }

.main-nav,
.subheader {
  background: #27384A;
  border-radius: 0;
  border: none;
  margin-bottom: 0; }

.navbar .header__logo {
  color: #fff;
  font-weight: bold; }

.navbar-default .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.7); }

.navbar .caret {
  margin-left: 15px; }

.subheader {
  padding: 15px 0;
  background: rgba(39, 56, 74, 0.9); }
  .subheader .navbar-nav > li > a.btn {
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; }
    .subheader .navbar-nav > li > a.btn > span {
      display: inline-block;
      padding: 7px 12px; }
    .subheader .navbar-nav > li > a.btn > span:not(:last-child) {
      border-right: 1px solid rgba(39, 56, 74, 0.9); }
    .subheader .navbar-nav > li > a.btn .glyphicon {
      margin-right: 7px;
      padding: 0; }
  .subheader__item {
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    vertical-align: middle; }
  .subheader__num {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    max-width: 60%;
    font-size: 30px;
    font-weight: 400; }
  .subheader__text {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    width: 40%;
    font-size: 13px;
    font-weight: 300; }

.subheader__item--fund {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer; }
  .subheader__item--fund .subheader__num {
    width: 65%;
    padding-right: 10px;
    max-width: 100%; }
  .subheader__item--fund .subheader__text {
    width: 25%;
    text-align: left; }
  .subheader__item--fund .subheader__help {
    display: inline-block; }
    .subheader__item--fund .subheader__help .glyphicon {
      top: 6px; }

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%); } }

.dashboard__time {
  padding-bottom: 30px;
  font-size: 16px; }
  .dashboard__time span {
    font-weight: bold; }
  .dashboard__time__system {
    text-align: right; }

.dashboard .alert {
  min-height: 65px; }

.dashboard__message {
  margin: 60px 30px 70px; }
  .dashboard__message__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
    padding: 0; }
  .dashboard__message__text {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 40px; }
    .dashboard__message__text p {
      margin-bottom: 20px; }
  .dashboard__message .btn {
    margin-right: 10px; }

.dashboard__results__title {
  margin: 0;
  margin-bottom: 35px; }

.dashboard__results__current {
  margin-bottom: 60px; }

.dashboard__results__week {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
  margin: 0;
  float: left;
  width: 55%; }

.dashboard__results__table-header {
  padding: 15px 0; }
  .dashboard__results__table-header > div {
    width: 15%;
    float: left;
    color: #9d9d9d; }
  .dashboard__results__table-header > .total-score {
    text-align: right;
    color: #000;
    font-weight: bold;
    font-size: 16px; }

.dashboard__results table > tbody > tr > td {
  width: 15%;
  padding: 25px 0;
  color: #9d9d9d; }

.dashboard__results table > tbody > tr > td > .glyphicon {
  margin-right: 10px; }

.dashboard__results table > tbody > tr > td.icon {
  width: 5%; }

.dashboard__results table > tbody > tr > td.date {
  font-weight: bold; }

.dashboard__results table > tbody > tr > td.task {
  width: 35%;
  font-weight: bold; }

.dashboard__results table > tbody > tr > td.status {
  text-align: right; }

.dashboard__results table > tbody > tr > td.reviews {
  position: relative;
  padding-left: 25px; }
  .dashboard__results table > tbody > tr > td.reviews::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 19px;
    top: 25px;
    left: 0;
    background: url("../img/feather.png"); }

.book {
  padding-top: 0;
  padding-left: 0; }
  .book .media .btn {
    text-align: right; }

.book .book-nav-link .muted {
  font-size: 14px;
  font-weight: lighter;
  padding-left: 10px;
  color: #9d9d9d; }

.book .book-nav-link .book-nav-tasks {
  padding-left: 10px; }

.book .book-nav-link .title {
  font-size: 14px;
  margin: 0;
  margin-top: 5px; }

.book .book-nav-link:hover {
  background: #F6F4EB; }

.book .book-nav-link.book-nav-segmented {
  padding: 0; }

.book-nav-top {
  padding: 15px 14px;
  border-bottom: 1px solid #DFDFDF; }

.book-nav-bottom {
  padding: 15px 14px; }

.book .book-nav-link .label {
  padding: 7px 12px;
  font-size: 12px;
  display: inline-block; }

.book-nav-week {
  padding: 10px 0px; }

.task .comment {
  display: block;
  font-size: 12px;
  color: rgba(157, 157, 157, 0.8);
  margin-top: 5px; }

.task__steps {
  padding: 20px 20px; }
  .task__steps input[type="checkbox"] + label::before {
    border-radius: 50%; }
  .task__steps .task__step {
    position: relative;
    color: #9d9d9d;
    font-size: 13px;
    padding-bottom: 20px;
    padding-left: 40px; }
    .task__steps .task__step::after {
      position: absolute;
      content: '';
      top: -2px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #D0D0D0;
      border-radius: 50%;
      background: #fefcf3; }
    .task__steps .task__step::before {
      position: absolute;
      content: '';
      top: 10px;
      left: 9px;
      width: 2px;
      height: 20px;
      background: #D0D0D0;
      height: 100%; }
    .task__steps .task__step:last-child {
      padding-bottom: 0; }
      .task__steps .task__step:last-child::before {
        display: none; }
    .task__steps .task__step--current {
      color: #000; }
      .task__steps .task__step--current::after {
        border: 2px solid #2DB7F5; }
    .task__steps .task__step--complete::after {
      border: 2px solid #87CE50;
      background: #87CE50 url(../img/svg/checked.svg) center center no-repeat; }

.task__title {
  padding-top: 40px; }

.task__form {
  padding-bottom: 50px; }
  .task__form input[type="text"], .task__form label, .task__form textarea {
    display: block;
    width: 100%; }
  .task__form label {
    margin-bottom: 15px; }
  .task__form label[for="task__text"] {
    width: 50%;
    float: left; }
  .task__form input, .task__form textarea {
    margin-bottom: 25px; }
  .task__form .input-group {
    margin-bottom: 10px; }
  .task__form input[type="checkbox"] + label::before {
    top: 6px; }
  .task__form .btn {
    display: inline-block; }
    .task__form .btn > .glyphicon {
      padding-right: 0;
      padding-left: 10px; }
    .task__form .btn-default .glyphicon {
      display: none; }
  .task__form .btn-group {
    display: block;
    width: 100%;
    margin: 10px 0 25px; }
    .task__form .btn-group .btn {
      display: block;
      width: 25%; }

.task__countdown {
  position: relative;
  padding-left: 20px; }
  .task__countdown::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #9d9d9d; }
  .task__countdown::after {
    content: " — слишком много"; }
  .task__countdown--toomuch::before, .task__countdown--toofew::before {
    background: #FB612C; }
  .task__countdown--toomuch::after, .task__countdown--toofew::after {
    content: " — много"; }
  .task__countdown--toofew::after {
    content: " — мало"; }
  .task__countdown--normal::before, .task__countdown--abitmuch::before {
    background: #F6CB23; }
  .task__countdown--normal::after, .task__countdown--abitmuch::after {
    content: " — нормально"; }
  .task__countdown--abitmuch::after {
    content: " — многовато"; }
  .task__countdown--optimal::before {
    background: #87CE50; }
  .task__countdown--optimal::after {
    content: " — оптимально"; }

.task__user__name {
  font-size: 16px;
  margin-top: 10px; }

.task__form--review h2 {
  font-size: 24px;
  padding-bottom: 20px; }

.task__form--review p {
  font-size: 16px;
  line-height: 1.5;
  color: #9d9d9d;
  padding-bottom: 20px; }

.task__form--review .btn-default .glyphicon {
  display: inline-block; }

.task__form--review .blocked {
  color: #9d9d9d; }
  .task__form--review .blocked .glyphicon {
    padding-right: 10px; }
