@charset "UTF-8";
body {
  background: #fbfbfb;
  font-family: "Roboto", Roboto, Arial, sans-serif; }

.content {
  padding-top: 70px;
  padding-bottom: 90px; }

.btn,
.navbar-default .navbar-nav > li > a.btn {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 7px 12px;
  font-weight: normal; }
  .btn:hover, .btn:focus,
  .navbar-default .navbar-nav > li > a.btn:hover,
  .navbar-default .navbar-nav > li > a.btn:focus {
    color: #fff;
    border: none; }
  .btn > .glyphicon,
  .navbar-default .navbar-nav > li > a.btn > .glyphicon {
    padding-right: 10px; }

.label {
  border-radius: 4px;
  padding: 7px 12px;
  font-size: 12px; }
  .label:hover {
    cursor: default;
    pointer-events: none; }

.btn-clear,
.btn-clear:hover,
.btn-clear:focus {
  color: #27384A; }

.btn-primary,
.navbar-default .navbar-nav > li > a.btn-primary,
.nav > li > a.btn-primary,
.label-primary {
  background: #27384A; }
  .btn-primary:hover, .btn-primary:focus,
  .navbar-default .navbar-nav > li > a.btn-primary:hover,
  .navbar-default .navbar-nav > li > a.btn-primary:focus,
  .nav > li > a.btn-primary:hover,
  .nav > li > a.btn-primary:focus,
  .label-primary:hover,
  .label-primary:focus {
    background: rgba(39, 56, 74, 0.9); }

.btn-success,
.navbar-default .navbar-nav > li > a.btn-success,
.nav > li > a.btn-success,
.label-success {
  background: #87CE50; }
  .btn-success:hover, .btn-success:focus,
  .navbar-default .navbar-nav > li > a.btn-success:hover,
  .navbar-default .navbar-nav > li > a.btn-success:focus,
  .nav > li > a.btn-success:hover,
  .nav > li > a.btn-success:focus,
  .label-success:hover,
  .label-success:focus {
    background: rgba(135, 206, 80, 0.9); }

.btn-warning,
.navbar-default .navbar-nav > li > a.btn-warning,
.nav > li > a.btn-warning,
.label-warning {
  background: #F6CB23; }
  .btn-warning:hover, .btn-warning:focus,
  .navbar-default .navbar-nav > li > a.btn-warning:hover,
  .navbar-default .navbar-nav > li > a.btn-warning:focus,
  .nav > li > a.btn-warning:hover,
  .nav > li > a.btn-warning:focus,
  .label-warning:hover,
  .label-warning:focus {
    background: rgba(246, 203, 35, 0.9); }

.btn-danger,
.navbar-default .navbar-nav > li > a.btn-danger,
.nav > li > a.btn-danger,
.label-danger {
  background: #FB612C; }
  .btn-danger:hover, .btn-danger:focus,
  .navbar-default .navbar-nav > li > a.btn-danger:hover,
  .navbar-default .navbar-nav > li > a.btn-danger:focus,
  .nav > li > a.btn-danger:hover,
  .nav > li > a.btn-danger:focus,
  .label-danger:hover,
  .label-danger:focus {
    background: rgba(251, 97, 44, 0.9); }

.btn-default,
.navbar-default .navbar-nav > li > a.btn-default,
.nav > li > a.btn-default,
.label-default {
  background: #BCC0C1; }
  .btn-default:hover, .btn-default:focus,
  .navbar-default .navbar-nav > li > a.btn-default:hover,
  .navbar-default .navbar-nav > li > a.btn-default:focus,
  .nav > li > a.btn-default:hover,
  .nav > li > a.btn-default:focus,
  .label-default:hover,
  .label-default:focus {
    background: rgba(188, 192, 193, 0.9); }

.btn-fb {
  background: #3C579E; }
  .btn-fb:hover, .btn-fb:focus {
    background: rgba(60, 87, 158, 0.9); }

.btn-group > .btn {
  border: 1px solid transparent; }
  .btn-group > .btn-success {
    border-color: #87CE50; }
  .btn-group > .btn-default {
    background: #fff;
    color: #27384A;
    border-color: #27384A; }

.label.label-process {
  background: #2DB7F5; }
  .label.label-process:hover, .label.label-process:focus {
    background: rgba(45, 183, 245, 0.9); }

.alert {
  font-weight: bold; }
  .alert__text {
    float: left;
    margin-top: 6px; }
  .alert__btn {
    display: block;
    float: right; }

.well {
  padding: 30px;
  background: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgba(39, 56, 74, 0.1); }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #ececec; }

input[type="checkbox"] + label::before {
  background: #fff; }

@media (min-width: 992px) {
  .content.dashboard > .container,
  .content.book-page > .container {
    width: 800px; } }

@media (max-width: 768px) {
  .content {
    padding-top: 30px;
    padding-bottom: 30px; }
  .alert {
    font-weight: bold; }
    .alert__text {
      margin-top: 0;
      width: 100%; }
    .alert__btn {
      margin-top: 10px;
      float: left; }
  .well {
    padding: 10px; }
  .label,
  .book .book-nav-link .label {
    padding: 2px 4px;
    font-size: 10px; } }

.main-nav,
.subheader {
  background: #27384A;
  border-radius: 0;
  border: none;
  margin-bottom: 0; }
  .main-nav.navbar-default .navbar-nav > li > a:focus,
  .main-nav.navbar-default .navbar-nav > li > a:hover,
  .main-nav.navbar-default .navbar-brand:focus,
  .main-nav.navbar-default .navbar-brand:hover,
  .main-nav a:focus,
  .main-nav a:hover,
  .subheader.navbar-default .navbar-nav > li > a:focus,
  .subheader.navbar-default .navbar-nav > li > a:hover,
  .subheader.navbar-default .navbar-brand:focus,
  .subheader.navbar-default .navbar-brand:hover,
  .subheader a:focus,
  .subheader a:hover {
    text-decoration: none;
    color: #fff; }

.navbar .header__logo {
  color: #fff;
  font-weight: bold; }

.navbar-default .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.7); }

.navbar .caret {
  margin-left: 15px; }

.subheader {
  padding: 15px 0;
  background: rgba(39, 56, 74, 0.9); }
  .subheader .navbar-nav > li > a.btn {
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; }
    .subheader .navbar-nav > li > a.btn > span {
      display: inline-block;
      padding: 7px 12px; }
    .subheader .navbar-nav > li > a.btn > span:not(:last-child) {
      border-right: 1px solid rgba(39, 56, 74, 0.9); }
    .subheader .navbar-nav > li > a.btn .glyphicon {
      margin-right: 7px;
      padding: 0; }
  .subheader__item {
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    vertical-align: middle; }
  .subheader__num {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    max-width: 60%;
    font-size: 30px;
    font-weight: 400; }
  .subheader__text {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    width: 40%;
    font-size: 13px;
    font-weight: 300; }

.subheader__item--fund {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer; }
  .subheader__item--fund .subheader__num {
    padding-right: 10px;
    max-width: 65%; }
  .subheader__item--fund .subheader__text {
    width: 25%;
    text-align: left; }
  .subheader__item--fund .subheader__help {
    display: inline-block; }
    .subheader__item--fund .subheader__help .glyphicon {
      top: 6px; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #27384a;
  position: relative; }

.navbar-default .navbar-nav > .active > a::after,
.navbar-default .navbar-nav > .active > a:focus::after,
.navbar-default .navbar-nav > .active > a::after:hover {
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  content: "";
  background: #2db7f5; }

@media (min-width: 1210px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%); } }

@media (max-width: 1200px) {
  .subheader__num {
    max-width: 40%;
    font-size: 18px;
    font-weight: 100;
    padding-right: 5px; }
  .subheader__text {
    width: 50%;
    font-size: 12px;
    font-weight: 100; } }

@media (min-width: 992px) {
  .subheader__item--standart .subheader__text {
    margin-top: 3px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-nav > li > a {
    font-size: 12px;
    padding: 15px 7px; } }

@media (max-width: 992px) {
  .subheader .pull-right {
    margin-top: 20px; } }

@media (max-width: 768px) {
  .subheader__status > .navbar-nav {
    margin: auto; }
    .subheader__status > .navbar-nav > li {
      display: inline-block; }
    .subheader__status > .navbar-nav > li > a.btn {
      display: inline-block; }
  .subheader .pull-right > .row > div {
    margin-bottom: 20px; }
  .subheader__num {
    font-size: 18px; }
  .subheader__text {
    font-size: 14px;
    width: auto; }
  .subheader__item--fund .subheader__text {
    width: auto; }
  .subheader__item--fund .subheader__help .glyphicon {
    top: 3px;
    padding-left: 10px; } }

.dashboard__time {
  padding-bottom: 30px;
  font-size: 16px; }
  .dashboard__time span {
    font-weight: bold; }
  .dashboard__time__system {
    text-align: right; }

.dashboard__message {
  margin: 60px 30px 70px; }
  .dashboard__message__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
    padding: 0; }
  .dashboard__message__text {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 40px; }
    .dashboard__message__text p {
      margin-bottom: 20px; }
  .dashboard__message .btn {
    margin-right: 10px; }

.dashboard__results__title {
  margin: 0;
  margin-bottom: 30px; }

.dashboard__results__current {
  margin-bottom: 60px; }

.dashboard__results__week {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
  margin: 0;
  float: left;
  width: 55%; }

.dashboard__results__table-header {
  padding: 15px 0; }
  .dashboard__results__table-header > div {
    width: 15%;
    float: left;
    color: #9d9d9d; }
  .dashboard__results__table-header > .total-score {
    text-align: right;
    color: #000;
    font-weight: bold;
    font-size: 16px; }

.dashboard__results table > tbody > tr > td {
  width: 10%;
  padding: 25px 0;
  color: #9d9d9d; }

.dashboard__results table > tbody > tr > td > .glyphicon {
  margin-right: 10px; }

.dashboard__results table > tbody > tr > td.icon {
  width: 5%; }

.dashboard__results table > tbody > tr > td.date {
  font-weight: bold; }

.dashboard__results table > tbody > tr > td.task {
  width: 35%; }
  .dashboard__results table > tbody > tr > td.task a {
    color: #27384A;
    text-decoration: underline; }
    .dashboard__results table > tbody > tr > td.task a:hover, .dashboard__results table > tbody > tr > td.task a:active, .dashboard__results table > tbody > tr > td.task afocus {
      color: rgba(39, 56, 74, 0.9); }

.dashboard__results table > tbody > tr > td.status {
  text-align: right; }

.dashboard__results table > tbody > tr > td.reviews,
.dashboard__results table > tbody > tr > td.likes {
  color: #27384A; }
  .dashboard__results table > tbody > tr > td.reviews .comment,
  .dashboard__results table > tbody > tr > td.likes .comment {
    color: #9d9d9d; }

.dashboard__results table > tbody > tr > td.reviews {
  position: relative;
  padding-left: 25px; }
  .dashboard__results table > tbody > tr > td.reviews::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 19px;
    top: 25px;
    left: 0;
    background: url("../img/feather.svg");
    background-size: 16px 19px; }

.dashboard__results table > tbody > tr > td.likes {
  text-align: right;
  padding-right: 30px; }

@media (max-width: 768px) {
  .dashboard__time__system {
    margin-top: 10px;
    text-align: left; }
  .dashboard__message {
    margin: 30px 0; }
    .dashboard__message__title {
      font-size: 20px;
      margin-bottom: 20px; }
    .dashboard__message__text {
      font-size: 16px;
      line-height: 1.3;
      margin-bottom: 20px; }
      .dashboard__message__text p {
        margin-bottom: 0px; }
    .dashboard__message .btn {
      margin-bottom: 10px; }
  .dashboard__results__title {
    margin-bottom: 0px;
    font-size: 18px; }
  .dashboard__results__current, .dashboard__results table {
    margin-bottom: 10px; }
  .dashboard__results__table-header {
    font-size: 10px; }
    .dashboard__results__table-header .total-score {
      font-size: 10px;
      font-weight: normal; }
  .dashboard__results__week {
    font-size: 16px;
    font-weight: normal;
    color: #9d9d9d;
    padding-bottom: 10px; }
  .dashboard__results table > tbody > tr > td {
    padding: 10px 0;
    font-weight: normal;
    font-size: 12px; }
  .dashboard__results table > tbody > tr > td.icon {
    font-size: 10px;
    display: none; }
  .dashboard__results table > tbody > tr > td.date {
    font-weight: normal;
    font-size: 10px;
    width: 10%;
    overflow: hidden; }
  .dashboard__results table > tbody > tr > td.task {
    width: 45%;
    font-weight: normal; }
  .dashboard__results table > tbody > tr > td.reviews {
    padding-left: 0px; }
    .dashboard__results table > tbody > tr > td.reviews::after {
      top: 10px;
      left: -18px; }
  .dashboard__results table > tbody > tr > td > .glyphicon {
    margin-right: 2px; }
  .dashboard__results table > tbody > tr > td.likes {
    padding-right: 0px; } }

.book {
  padding-top: 0;
  padding-left: 0; }
  .book .media .btn {
    text-align: right; }

.book .book-nav-link .muted {
  font-size: 14px;
  font-weight: lighter;
  padding-left: 10px;
  color: #9d9d9d; }

.book .book-nav-link .book-nav-tasks {
  padding-left: 10px; }

.book .book-nav-link .title {
  font-size: 14px;
  margin: 0;
  margin-top: 5px; }

.book .book-nav-link:hover {
  background: #F6F4EB; }

.book .book-nav-link.book-nav-segmented {
  padding: 0; }

.book-nav-top {
  padding: 15px 14px;
  border-bottom: 1px solid #DFDFDF; }

.book-nav-bottom {
  padding: 15px 14px; }

.book .book-nav-link .label {
  padding: 7px 12px;
  font-size: 12px;
  display: inline-block; }

.book-nav-week {
  padding: 10px 0px; }

@media (max-width: 768px) {
  .book .media {
    margin-bottom: 30px; }
  .book .media .h2 {
    display: block;
    font-size: 18px;
    margin-bottom: 10px; }
  .book .media .book-about {
    display: block;
    padding-bottom: 15px; }
  .book__download {
    float: left !important;
    text-align: left;
    margin-top: 15px; }
  .book-progress .status-item .status-num {
    font-size: 16px;
    line-height: 1;
    font-weight: normal;
    padding-right: 6px; }
  .book .book-nav-link .pull-left {
    width: 100%; }
    .book .book-nav-link .pull-left .label {
      margin-bottom: 5px; }
  .book .book-nav-link .pull-right {
    float: left !important;
    margin-top: 10px;
    width: 100%;
    text-align: center; }
  .book-nav-week {
    padding: 5px 0px; }
    .book-nav-week .label {
      margin-bottom: 5px; }
  .book .book-nav-link .title {
    margin-bottom: 10px; } }

.task .comment {
  display: block;
  font-size: 12px;
  color: rgba(157, 157, 157, 0.8);
  margin-top: 5px; }

.task--share .share {
  margin-bottom: 50px; }
  .task--share .share--how .likes {
    margin-top: 12px; }
  .task--share .share .alert .link {
    display: block;
    margin-top: 10px; }
  .task--share .share img {
    margin-bottom: 30px; }

.task--feedback .feedback {
  margin: 40px 0; }
  .task--feedback .feedback .alert {
    font-weight: 100; }
    .task--feedback .feedback .alert .count {
      position: relative;
      padding-left: 25px; }
      .task--feedback .feedback .alert .count::after {
        position: absolute;
        content: "";
        width: 16px;
        height: 18.57px;
        top: 0;
        left: 0;
        background: url(../img/feather--green.png); }
  .task--feedback .feedback--user, .task--feedback .feedback--reviews {
    font-weight: 600; }

.task--share .glyphicon, .task--feedback .glyphicon {
  margin-right: 7px;
  top: 2px; }

.task--share .btn, .task--feedback .btn {
  margin-right: 20px; }

.task__steps {
  padding: 20px 20px; }
  .task__steps input[type="checkbox"] + label::before {
    border-radius: 50%; }
  .task__steps .task__step {
    position: relative;
    color: #9d9d9d;
    font-size: 13px;
    padding-bottom: 20px;
    padding-left: 40px; }
    .task__steps .task__step::after {
      position: absolute;
      content: '';
      top: -2px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #D0D0D0;
      border-radius: 50%;
      background: #fefcf3; }
    .task__steps .task__step::before {
      position: absolute;
      content: '';
      top: 10px;
      left: 9px;
      width: 2px;
      height: 20px;
      background: #D0D0D0;
      height: 100%; }
    .task__steps .task__step:last-child {
      padding-bottom: 0; }
      .task__steps .task__step:last-child::before {
        display: none; }
    .task__steps .task__step--current {
      color: #000; }
      .task__steps .task__step--current::after {
        border: 2px solid #2DB7F5; }
    .task__steps .task__step--complete::after {
      border: 2px solid #87CE50;
      background: #87CE50 url(../img/svg/checked.svg) center center no-repeat; }

.task__title {
  padding-top: 40px;
  font-weight: 400; }

.task__form {
  padding-bottom: 50px; }
  .task__form input[type="text"], .task__form label, .task__form textarea {
    display: block;
    width: 100%; }
  .task__form label {
    margin-bottom: 15px; }
  .task__form label[for="task__text"] {
    width: 20%;
    float: left; }
  .task__form label[for="task__text"].text-right {
    width: 80%; }
  .task__form input, .task__form textarea {
    margin-bottom: 25px; }
  .task__form .input-group {
    margin-bottom: 10px; }
  .task__form input[type="checkbox"] + label::before {
    top: 6px; }
  .task__form .btn {
    display: inline-block; }
    .task__form .btn > .glyphicon {
      padding-right: 0;
      padding-left: 10px; }
    .task__form .btn-default .glyphicon {
      display: none; }
  .task__form .btn-group {
    display: block;
    width: 100%;
    margin: 10px 0 25px; }
    .task__form .btn-group .btn {
      display: block;
      width: 25%; }

.task__countdown {
  position: relative;
  padding-left: 20px; }
  .task__countdown::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #9d9d9d; }
  .task__countdown::after {
    content: " — слишком много"; }
  .task__countdown--toomuch::before, .task__countdown--toofew::before {
    background: #FB612C; }
  .task__countdown--toomuch::after, .task__countdown--toofew::after {
    content: " — много"; }
  .task__countdown--toofew::after {
    content: " — мало"; }
  .task__countdown--normal::before, .task__countdown--abitmuch::before {
    background: #F6CB23; }
  .task__countdown--normal::after, .task__countdown--abitmuch::after {
    content: " — нормально"; }
  .task__countdown--abitmuch::after {
    content: " — многовато"; }
  .task__countdown--optimal::before {
    background: #87CE50; }
  .task__countdown--optimal::after {
    content: " — оптимально"; }

.task__user__name {
  font-size: 16px;
  margin-top: 10px; }

.task__form--review h2 {
  font-size: 24px;
  padding-bottom: 20px; }

.task__form--review p {
  font-size: 16px;
  line-height: 1.5;
  color: #9d9d9d;
  padding-bottom: 20px; }

.task__form--review .btn-default .glyphicon {
  display: inline-block; }

.task__form--review .blocked {
  color: #9d9d9d; }
  .task__form--review .blocked .glyphicon {
    padding-right: 10px; }

@media (max-width: 992px) {
  .task .back-link {
    display: none; }
  .task__user {
    margin-top: 20px; } }

@media (max-width: 768px) {
  .task__form .btn {
    margin-bottom: 10px; }
  .task--share .btn,
  .task--feedback .btn {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    overflow: hidden; }
  .task__user {
    margin-top: 10px;
    margin-bottom: 30px; }
  .task__user__name {
    width: auto; }
  .task__user__pic > img {
    max-width: 50px; }
  .task__form {
    padding-bottom: 20px; }
  .task__form .btn-group .btn {
    width: 100%;
    border-radius: 4px !important; } }

.social .alert {
  font-weight: 100;
  line-height: 1.4; }
  .social .alert strong {
    display: block; }

.social__form {
  margin: 60px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.social__title, .social__list {
  margin-bottom: 40px; }

.social__title {
  text-align: center;
  padding: 0; }

.social__list {
  width: 50%;
  font-size: 16px;
  line-height: 1.5; }

.social__input, .social__btn {
  height: 45px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1;
  border-radius: 0;
  border: 1px solid #3C579E;
  margin: 0;
  display: block;
  float: left; }

.social__input {
  border-right: none;
  min-width: 350px; }

.social__btn:focus, .social__btn:hover {
  border: 1px solid rgba(60, 87, 158, 0.9); }

@media (max-width: 768px) {
  .alert .pull-right {
    float: left !important;
    margin-top: 10px; }
  .social__form {
    margin: 20px 0; }
  .social__title, .social__list {
    margin-bottom: 20px; }
  .social__title {
    text-align: left;
    font-size: 18px;
    line-height: 1.4; }
  .social__list {
    width: 100%;
    padding-left: 20px; }
  .social__input, .social__btn {
    padding: 6px 10px;
    min-width: 100%;
    height: auto; }
  .social__input {
    border-right: 1px solid #3C579E; }
  .social__btn {
    margin-top: 10px;
    padding: 10px; } }
