@import "variables";
@import "mixins";

#tinymce {
  padding: 15px 10px;
}

.muted {
  color: rgba(74,74,74,.65);
}

.arrow {
  display: inline-block;
  margin-left: 3px;
  width: 6px;
  height: 6px;
  border-left: 2px solid #E4E1DA;
  border-bottom: 2px solid #E4E1DA;
  transform:rotate(-45deg);
  transform-origin: 3px -3px 0;
}

.flag-icon {
  padding: 5px 30px;
  padding-right: 0;
  background: transparent url('../img/svg/flag.svg') 1px center no-repeat;
  background-size: 15px 18px;
}

input[type="checkbox"] {
  display: none;

  & + label {
    padding-left: 40px;
    position: relative;
    cursor: pointer;

    &::before {
      width: 23px;
      height: 23px;
      border: 1px solid #D0D0D0;
      border-radius: 3px;
      position: absolute;
      top: -3px;
      left: 0;
      content: '';
    }
  }

  &:checked + label {
    &::before {
      background: $green url(../img/svg/checked.svg) center center no-repeat;
      background-size: 12px 9px;
      border-color: $green;
    }
  }
}

label {
  color: #34485D;
  font-size: 14px;
  font-weight: normal;
}


// PAGES
.gradient-sidebar {
  height: 100%;
  background: linear-gradient(to right, rgba(174, 192,200, .1) 35%, transparent 65%);

  @media (max-width: $desktop) {
    background: $white;
  }

  & > .container {
    height: 100%;

    @media (max-width: $desktop) {
      height: auto;
    }

    & > .row {
      height: 100%;

      & > .col-md-4,
      & > .col-md-8{
        height: 100%;
        overflow-y: scroll;

        @media (max-width: $desktop) {
          height: auto;
        }
      }
    }
  }

  .col-md-4 {
    @media (max-width: $tablet) {
      background: rgba(174, 192,200, .1);
    }
  }

  .col-md-8 {
    background: $white;
  }
}

.report-page,
.repost-page {
  padding-top: 30px;

  .back-link {
    margin-bottom: 25px;
    display: inline-block;
    padding-left: 15px;
    color: rgba(0,0,0,.4);
    font-size: 14px;
    position: relative;

    &::before {
      width: 8px;
      height: 8px;
      border-left: 2px solid rgba(0,0,0,.4);
      border-bottom: 2px solid rgba(0,0,0,.4);
      transform: rotate(45deg);
      position: absolute;
      top: 4px;
      left: 0;
      content: '';
    }

    &:hover,
    &:focus {
      color: rgba(0,0,0,1);
      text-decoration: none;

      &::before {
        border-color: rgba(0,0,0,1);
      }
    }
  }
}

.login-page {
  height: 100%;
  background-image: url('../img/promo-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 10;
  
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 88;
  }
}

.rating-page {
  height: 100%;
  padding-top: 35px;
  background: $white;
}

.admin-page {
  min-height: 100%;
  min-width: 1200px;
  box-sizing: border-box;
  background: rgba(174, 192,200,.1);
}


.posts-sutitle {
  padding: 0 0 10px;
  font-size: 14px;
  color: rgba(4,4,4,.3)
}

.info-page {
  padding: 45px 0;
  height: 100%;
  background: #F6F8F9;
}




@import "parts/base";
@import "parts/btn";
@import "parts/label";
@import "parts/alert";
@import "parts/badge";
@import "parts/media";
@import "parts/progress";
@import "parts/breadcrumb";
@import "parts/status-item";

@import "parts/header";
@import "parts/header-admin";
@import "parts/sidebar";
@import "parts/dashbord";
@import "parts/book";
@import "parts/report";
@import "parts/repost";
@import "parts/user-rating";
@import "parts/rating";
@import "parts/login-form";
@import "parts/users";
@import "parts/user";
@import "parts/admin-head";
@import "parts/program";
@import "parts/check-work";
@import "parts/task-edit";
@import "parts/info-box";

@import "parts/book-page";
