// сolors
$white: #ffffff;
$black: #000000;
$dark: #27384A;
$dark-medium: #374A60;
$grey: #8F9AA6;
$light-gray: #F2F2F2;
$orange: #FB612C;
$light-orange: #FCB860;
$green: #87CE50;
$green-dark: #5CB85C;
$blue: #2DB7F5;
$primary-blue: #428BCA;
$red: #F61010;


// fonts
$base-font-size: 14px;
$middle-font-size: 18px;
$large-font-size: 21px;
$huge-font-size: 36px;

// media
$tablet: 768px;
$desktop: 992px;
$desktop-full: 1200px;