.book {
  padding-top: 0;
  padding-left: 0;
  .media .btn {
    text-align: right;
  }
}
.book .book-nav-link {
  & .muted {
    font-size: 14px;
    font-weight: lighter;
    padding-left: 10px;
    color: $grey;
  }
  .book-nav-tasks {
    padding-left: 10px;
  }
  .title {
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
  }
}
.book .book-nav-link:hover {
  background: #F6F4EB;
}

.book .book-nav-link.book-nav-segmented {
  padding: 0;
}

.book-nav-top {
  padding: 15px 14px;
  border-bottom: 1px solid #DFDFDF;
}


.book-nav-bottom {
  padding: 15px 14px;
}

.book .book-nav-link .label {
  padding: $padding;
  font-size: 12px;
  display: inline-block;
}

.book-nav-week {
  padding: 10px 0px;
}
