.book {
  padding-top: 0;
  padding-left: 0;
  .media .btn {
    text-align: right;
  }
}
.book .book-nav-link {
  & .muted {
    font-size: 14px;
    font-weight: lighter;
    padding-left: 10px;
    color: $grey;
  }
  .book-nav-tasks {
    padding-left: 10px;
  }
  .title {
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
  }
}
.book .book-nav-link:hover {
  background: #F6F4EB;
}

.book .book-nav-link.book-nav-segmented {
  padding: 0;
}

.book-nav-top {
  padding: 15px 14px;
  border-bottom: 1px solid #DFDFDF;
}


.book-nav-bottom {
  padding: 15px 14px;
}

.book .book-nav-link .label {
  padding: $padding;
  font-size: 12px;
  display: inline-block;
}

.book-nav-week {
  padding: 10px 0px;
}

@media (max-width: 768px) {
  .book  {
    .media {
      margin-bottom: 30px;
    }
    .media .h2 {
      display: block;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .media .book-about {
      display: block;
      padding-bottom: 15px;
    }
    &__download {
      float: left !important;
      text-align: left;
      margin-top: 15px;
    }
    &-progress {
      .status-item .status-num {
        font-size: 16px;
        line-height: 1;
        font-weight: normal;
        padding-right: 6px;
      }
    }
  }
  .book .book-nav-link .label {
    // padding: 3px 4px;
    // font-size: 12px;
  }
  .book .book-nav-link .pull-left {
    width: 100%;
    .label {
      margin-bottom: 5px;
    }
  }
  .book .book-nav-link .pull-right {
    float: left !important;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  .book-nav-week {
    padding: 5px 0px;
    .label {
      margin-bottom: 5px;
    }
  }
  .book .book-nav-link .title {
    margin-bottom: 10px;
  }
  .book .book-nav-link .book-nav-tasks {
    
  }
}
