.header {
  margin-bottom: 70px;
}

.main-nav,
.subheader {
  background: $primary;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.navbar .header__logo {
  color: #fff;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
  color: rgba($white, 0.7);
}

.navbar .caret {
  margin-left: 15px;
}

.subheader {
  padding: 15px 0;
  background: $primary-hover;
  & .navbar-nav > li > a.btn {
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
    &>span {
      display: inline-block;
      padding: $padding;
    }
    &>span:not(:last-child) {
      border-right: 1px solid $primary-hover;
    }
    & .glyphicon {
      margin-right: 7px;
      padding: 0;
    }
  }
  &__item {
    width: 100%;
    color: rgba($white, .6);
    vertical-align: middle;
  }
  &__num {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    max-width: 60%;
    font-size: 30px;
    font-weight: 400;
  }
  &__text {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    width: 40%;
    font-size: 13px;
    font-weight: 300;
  }
}
.subheader__item--fund {
  display: inline-block;
  color: rgba($white, .6);
  cursor: pointer;
  & .subheader__num {
    width: 65%;
    padding-right: 10px;
    max-width: 100%;
  }
  & .subheader__text {
    width: 25%;
    text-align: left;
  }
  & .subheader__help {
    display: inline-block;
    & .glyphicon {
      top: 6px;
    }
  }
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
