.settings {
  padding-bottom: 50px;


  .users-title {
    padding-bottom: 30px;
    font-size: 18px;
  }

  .users-head {
    padding: 50px 0 30px;
    .users-title {
      padding: 0;
      font-size: 24px;
    }
  }

  &__section {
    padding: 40px 0;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="date"],
  textarea,
  select {
    display: block;
    width: 100%;
    padding: $padding;
    border: none;
    border-radius: $radius;
    background: $white;
    margin-bottom: 20px;
  }

  select {
    height: 30px;
  }

  textarea {
    max-width: 600px;
  }

  .table {
    input,
    select {
      margin-bottom: 0;
    }

    >thead>tr>th {
      border-bottom: 1px solid #ddd;
      font-weight: lighter;
      color: $grey;
    }

    >tbody>tr>td,
    >tbody>tr>th,
    >tfoot>tr>td,
    >tfoot>tr>th,
    >thead>tr>td,
    >thead>tr>th {
      padding: 12px 16px;
      vertical-align: middle;
    }

    .no {
      width: 5%;
    }

    .pages,
    .date {
      width: 10%;
    }

    .upload {
      width: 15%;
    }
  }

  &__notifications {
    label {
      color: $grey;
    }
  }
}
