.task {

}

.task__steps {
  padding: 20px 20px;

  input[type="checkbox"] + label::before {
    border-radius: 50%;
  }
  .task__step {
    position: relative;
    color: $grey;
    font-size: 13px;
    padding-bottom: 20px;
    padding-left: 40px;

    &::after {
      position: absolute;
      content: '';
      top: -2px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #D0D0D0;
      border-radius: 50%;
      background: #fefcf3;
    }
    &::before {
      position: absolute;
      content: '';
      top: 10px;
      left: 9px;
      width: 2px;
      height: 20px;
      background: #D0D0D0;
      height: 100%;
    }
    .comment {
      display: block;
      font-size: 12px;
      color: rgba($grey, .8);
      margin-top: 5px;
    }

    &:last-child {
      padding-bottom: 0;
      &::before {
        display: none;
      }
    }
    &--current {
      color: #000;
      &::after {
        border: 2px solid $process;
      }
    }
    &--complete {
      &::after {
        border: 2px solid $success;
        background: $success url(../img/svg/checked.svg) center center no-repeat;
      }
    }
  }
}

.task__form {
  input, label, textarea {
    display: block;
    width: 100%;
  }
  label[for="posttext"] {
    width: 50%;
    float: left;
  }
  .label {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}
