.task {
  .comment {
    display: block;
    font-size: 12px;
    color: rgba($grey, .8);
    margin-top: 5px;
  }
}

.task__steps {
  padding: 20px 20px;

  input[type="checkbox"] + label::before {
    border-radius: 50%;
  }
  .task__step {
    position: relative;
    color: $grey;
    font-size: 13px;
    padding-bottom: 20px;
    padding-left: 40px;

    &::after {
      position: absolute;
      content: '';
      top: -2px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #D0D0D0;
      border-radius: 50%;
      background: #fefcf3;
    }
    &::before {
      position: absolute;
      content: '';
      top: 10px;
      left: 9px;
      width: 2px;
      height: 20px;
      background: #D0D0D0;
      height: 100%;
    }

    &:last-child {
      padding-bottom: 0;
      &::before {
        display: none;
      }
    }
    &--current {
      color: #000;
      &::after {
        border: 2px solid $process;
      }
    }
    &--complete {
      &::after {
        border: 2px solid $success;
        background: $success url(../img/svg/checked.svg) center center no-repeat;
      }
    }
  }
}
.task__title {
  padding-top: 40px;
}
.task__form {
  &--process {

  }
  &--complete {
  }
  padding-bottom: 50px;
  input[type="text"], label, textarea {
    display: block;
    width: 100%;
  }
  label {
    margin-bottom: 15px;
  }
  label[for="task__text"] {
    width: 50%;
    float: left;
  }
  input, textarea {
    margin-bottom: 25px;
  }
  .input-group {
    margin-bottom: 10px;
  }
  input[type="checkbox"] + label::before {
    top: 6px;
  }
  .btn {
    display: inline-block;
    >.glyphicon {
      padding-right: 0;
      padding-left: 10px;
    }
    &-default {
      .glyphicon {
        display: none;
      }
    }
  }
  .btn-group {
    display: block;
    width: 100%;
    margin: 10px 0 25px;
    .btn {
      display: block;
      width: 25%;
    }
  }
}
.task__countdown {
  position: relative;
  padding-left: 20px;
  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $grey;
  }
  &::after {
    content: " — слишком много";
  }
  &--toomuch,
  &--toofew {
    &::before {
      background: $danger;
    }
    &::after {
      content: " — много";
    }
  }
  &--toofew {
    &::after {
      content: " — мало";
    }
  }
  &--normal,
  &--abitmuch {
    &::before {
      background: $warning;
    }
    &::after {
      content: " — нормально";
    }
  }
  &--abitmuch {
    &::after {
      content: " — многовато";
    }
  }
  &--optimal {
    &::before {
      background: $success;
    }
    &::after {
      content: " — оптимально";
    }
  }
}

.task__user {
  &__name {
    font-size: 16px;
    margin-top: 10px;
  }
}


.task__form--review {
  h2 {
    font-size: 24px;
    padding-bottom: 20px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    color: $grey;
    padding-bottom: 20px;
  }
  .btn {
    &-default {
      .glyphicon {
        display: inline-block;
      }
    }
  }
  .blocked {
    color: $grey;
    .glyphicon {
      padding-right: 10px;
    }
  }
}
