.task {
  .comment {
    display: block;
    font-size: 12px;
    color: rgba($grey, .8);
    margin-top: 5px;
  }
  &--share {
    .share {
      margin-bottom: 50px;
      &--how {
        .likes {
          margin-top: 12px;
        }
      }
      .alert {
        .link {
          display: block;
          margin-top: 10px;
        }
      }
      img {
        margin-bottom: 30px;
      }
    }
  }
  &--feedback {
    .feedback {
      margin: 40px 0;
      .alert {
        font-weight: 100;
        .count {
          position: relative;
          padding-left: 25px;
          &::after {
            position: absolute;
            content: "";
            width: 16px;
            height: 18.57px;
            top: 0;
            left: 0;
            background: url(../img/feather--green.png);
          }
        }
      }
      &--user,
      &--reviews {
        font-weight: 600;
      }
    }
  }
  &--share,
  &--feedback {
    .glyphicon {
      margin-right: 7px;
      top: 2px;
    }
    .btn {
      margin-right: 20px;
    }
  }
}

.task__steps {
  padding: 20px 20px;

  input[type="checkbox"] + label::before {
    border-radius: 50%;
  }
  .task__step {
    position: relative;
    color: $grey;
    font-size: 14px;
    padding-bottom: 20px;
    padding-left: 40px;

    &::after {
      position: absolute;
      content: '';
      top: -2px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #D0D0D0;
      border-radius: 50%;
      background: #fefcf3;
    }
    // &::before {
    //   position: absolute;
    //   content: '';
    //   top: 10px;
    //   left: 9px;
    //   width: 2px;
    //   height: 20px;
    //   background: #D0D0D0;
    //   height: 100%;
    // }

    &:last-child {
      padding-bottom: 0;
      &::before {
        display: none;
      }
    }
    &--current {
      color: #000;
      &::after {
        border: 2px solid $process;
      }
    }
    &--complete {
      &::after {
        border: 2px solid $success;
        background: $success url(../img/svg/checked.svg) center center no-repeat;
      }
    }
  }
}
.task__title {
  padding-top: 20px;
  padding-bottom: 45px;
  font-weight: 600;
  font-size: 24px;
}
.task__form {
  &--process {

  }
  &--complete {
  }
  padding-bottom: 50px;
  input[type="text"], label, textarea {
    display: block;
    width: 100%;
  }
  label {
    margin-bottom: 15px;
  }
  label[for="task__text"] {
    width: 20%;
    float: left;
  }
  label[for="task__text"].text-right {
    width: 80%;
  }
  input, textarea {
    margin-bottom: 25px;
  }
  .input-group {
    margin-bottom: 10px;
  }
  input[type="checkbox"] + label::before {
    top: 6px;
  }
  .btn {
    display: inline-block;
    >.glyphicon {
      padding-right: 0;
      padding-left: 10px;
    }
    &-default {
      .glyphicon {
        display: none;
      }
    }
  }
  .btn-group {
    display: block;
    width: 100%;
    margin: 10px 0 25px;
    .btn {
      display: block;
      width: 25%;
    }
  }
}
.task__countdown {
  position: relative;
  padding-left: 20px;
  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $grey;
  }
  &::after {
    content: " — слишком много";
  }
  &--toomuch,
  &--toofew {
    &::before {
      background: $danger;
    }
    &::after {
      content: " — много";
    }
  }
  &--toofew {
    &::after {
      content: " — мало";
    }
  }
  &--normal,
  &--abitmuch {
    &::before {
      background: $warning;
    }
    &::after {
      content: " — нормально";
    }
  }
  &--abitmuch {
    &::after {
      content: " — многовато";
    }
  }
  &--optimal {
    &::before {
      background: $success;
    }
    &::after {
      content: " — оптимально";
    }
  }
}

.task__user {
  &__name {
    font-size: 16px;
    margin-top: 10px;
  }
}


.task__form--review {
  h2 {
    font-size: 24px;
    padding-bottom: 30px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 30px;
  }
  .btn {
    &-default {
      .glyphicon {
        display: inline-block;
      }
    }
  }
  .blocked {
    color: $grey;
    .glyphicon {
      padding-right: 10px;
    }
  }

  label {
    position: relative;
    padding-left: 35px;
    font-size: 15px;
    margin-bottom: 30px;

    &::after,
    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 2px;
      left: 0;
      width: 17px;
      height: 17px;
      background: #fff;
      border: 1px solid $primary;
      border-radius: 50%;
    }
  }

  input[type=radio] {
    display: none;

    &:checked+label::before {
      top: 6px;
      left: 4px;
      width: 9px;
      height: 9px;
      z-index: 1;
      border: none;
      background-color: $primary;
    }
  }
}
.task__blocked {
  color: $grey;
  margin-left: 30px;
  vertical-align: middle;
}

@media (max-width: 992px) {
  .task {
    .back-link {
      display: none;
    }
  }
  .task__user {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .task__form {
    .btn {
      margin-bottom: 10px;
    }
  }
  .task--share .btn,
  .task--feedback .btn {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .task__user {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .task__user__name {
    width: auto;
  }
  .task__user__pic>img {
    max-width: 50px;
  }
  .task__form {
    padding-bottom: 20px;
  }
  .task__form .btn-group .btn {
    width: 100%;
    border-radius: $radius !important;
  }
}
