.users {

  &-head {
    display: flex;
    align-items: center;

    .label {
      margin-left: 15px;
      padding: 5px 8px;
    }
  }

  &__row {

    border-bottom: 1px solid #ddd;

    &:hover {
      background: rgba(#fff, .4);
    }

    &:last-child {
      border: none;
    }

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 20px 0;
    }

    input[type="checkbox"] + label::before {
      top: 50%;
      transform: translateY(-50%);
    }

  }

  &__name {
    display: block;
  }

  &__contact {
    color: $grey;
    font-size: 12px;
  }

  &__status {
    min-width: 100px;

    .label-default {
      background: #d2d6da;
      color: #27384a;
    }
  }

  &__tasks {
    .task {
      display: inline-block;
      float: left;
      width: 14px;
      height: 14px;
      padding: 0;
      margin-right: 5px;
      border-radius: 50%;
      vertical-align: top;

      &--success {
        background: $success;
      }
      &--default {
        background: $grey;
      }
      &--warning {
        background: $warning;
      }
      &--danger {
        background: $danger;
      }
    }
  }

}
