.users {

  &-head {
    display: flex;
    align-items: center;

    &--tasks {
      align-items: baseline;

      .comment {
        margin-left: 20px;
        color: $grey;
      }
    }

    .label {
      margin-left: 15px;
      padding: 5px 8px;
    }

    .users-title.pull-left {
      flex-grow: 1;
    }
  }

  &__row {

    border-bottom: 1px solid #ddd;

    &:hover {
      background: rgba(#fff, .4);
    }

    &:last-child {
      border: none;
    }

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 20px 0;
    }

    input[type="checkbox"] + label::before {
      top: 50%;
      transform: translateY(-50%);
    }

  }

  &__name {
    display: block;
  }

  &__contact {
    color: $grey;
    font-size: 12px;
  }

  &__status {
    min-width: 100px;

    .label-default {
      background: #d2d6da;
      color: #27384a;
    }
  }

  &__tasks {
    .task {
      display: inline-block;
      float: left;
      width: 14px;
      height: 14px;
      padding: 0;
      margin-right: 5px;
      border-radius: 50%;
      vertical-align: top;

      &--success {
        background: $success;
      }
      &--default {
        background: $grey;
      }
      &--warning {
        background: $warning;
      }
      &--danger {
        background: $danger;
      }
    }
  }

  &__actions {
    padding: 10px 0 40px;

    .btn-group > .btn {
      border: none;
    }
  }

  .table {
    .day,
    .time {
      width: 10%;
    }

    .time {
      color: $grey;
    }

    .reviews {
      padding-left: 0;
    }

    thead {
      th {
        font-size: 13px;
      }
      .time {
        font-size: 0;
      }
    }

    tbody {
      .reviews {
        position: relative;
        padding-left: 25px;

        &::after {
          position: absolute;
          content: "";
          width: 16px;
          height: 19px;
          top: 13px;
          left: 0;
          background: url(../img/feather.svg);
          background-size: 16px 19px;
        }

        .comment {
          color: $grey;
        }
      }
    }
  }
}
